.advantages {
  font-family: $basic-font-family;
  padding: 28px 0 20px;
  font-size: 16px;
  line-height: 25px;

  @media #{$tablet-desktop} {
    padding-top: 32px;
    font-size: 18.58px;
    line-height: 21.68px;
  }
}

.advantages__container {
  padding: 0 10px;

  @media #{$tablet-desktop} {
    padding: 0 15px;
  }

  @media #{$desktop} {
    width: 1480px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.advantages__heading {
  margin: 0 0 25px;
  text-align: center;
  font-family: $accent-font-family;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;

  @media #{$tablet-desktop} {
    margin-bottom: 39px;
  }

  @media #{$laptop-desktop} {
    text-align: left;
    font-size: 36px;
    line-height: 54px;
  }

  @media #{$desktop} {
    margin-bottom: 60px;
  }
}

.advantages__list {
  display: grid;
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
  gap: 10px;
  font-size: 14px;
  line-height: 16px;

  @media #{$widemobile-desktop} {
    grid-template-columns: 1fr 1fr;
  }

  @media #{$tablet-desktop} {
    font-size: 16px;
    line-height: 24px;
    gap: 7px;
  }

  @media #{$laptop-desktop} {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

.advantages__item {
  display: grid;
  justify-items: center;
  gap: 28px;
  padding: 43px 10px 29px;
  background-color: $advantages-item-background-color;

  &::before {
    content: "";
    width: 65px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--cart::before {
    background-image: url("../img/icons/cart.svg");
  }

  &--box::before {
    background-image: url("../img/icons/box.svg");
  }

  &--crown::before {
    background-image: url("../img/icons/crown.svg");
  }

  &--wallet::before {
    background-image: url("../img/icons/wallet.svg");
  }

  @media #{$narrow-mobile} {
    padding: 16px 20px;
    justify-items: start;
    align-items: center;
    grid-template-columns: min-content 1fr;
  }

  @media #{$widemobile-desktop} {
    text-align: center;
  }

  @media #{$tablet-desktop} {
    box-sizing: border-box;
    min-height: 184px;
    padding: 43px 30px 20px;
    gap: 20px;
    align-content: start;
  }

  @media #{$laptop-desktop} {
    padding: 36px 48px 10px;
    gap: 31px;
  }

  @media #{$desktop} {
    padding: 35px 56px;
  }
}

.advantages__footer {
  display: flex;
  padding: 12px 0 14px;
  flex-direction: column;
  align-items: center;
  background-color: $advantages-item-background-color;

  @media #{$tablet-desktop} {
    display: grid;
    grid-template-columns: 44.6% 1fr;
    padding: 27px 0 26px;
    gap: 27px;
  }

  @media #{$laptop-desktop} {
    padding-bottom: 24px;
    grid-template-columns: 44.8% 1fr;
    gap: 46px;
    font-size: 24px;
    line-height: 28px;
  }

  @media #{$desktop} {
    padding-top: 24px;
    grid-template-columns: auto auto;
    gap: 81px;
  }
}

.advantages__rating {
  @media #{$tablet-desktop} {
    justify-self: end;
  }
}

.advantages__text {
  margin: 0;
  font: inherit;
}

.advantages__link {
  text-decoration: underline;
  color: $advantages-link-color;
}

.advantages--alter {
  .advantages__heading {
    margin-bottom: 34px;

    @media #{$tablet-desktop} {
      margin-bottom: 36px;
      font-size: 36px;
      line-height: 46.8px;
      letter-spacing: -0.03em;
    }

    @media #{$laptop-desktop} {
      margin-bottom: 38px;
      font-size: 36px;
      line-height: 54px;
      letter-spacing: 0;
    }

    @media #{$desktop} {
      margin-bottom: 60px;
    }
  }
}
