.advantages-and-widget__inner {
  padding: 0 14px;

  @media #{$desktop} {
    display: grid;
    width: 1480px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
    grid-template-columns: 1fr 260px;
    column-gap: 20px;
    align-items: center;
  }
}

.advantages-and-widget__widget {
  display: none;
  width: 260px;
  height: 87px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media #{$desktop} {
    display: block;
  }
}

.advantages-and-widget .n-advantages__item:last-child .n-advantages__info {
  @media #{$desktop} {
    right: auto;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}
