.arrows {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 8px;
}

.arrows__next,
.arrows__prev {
  width: 38px;
  height: 38px;
}

.arrows__prev {
  transform: rotate(180deg);
}
