.arrow-button-2 {
  display: grid;
  padding: 0;
  border: none;
  border-radius: 50%;
  place-items: center;
  background: $background-color;
  cursor: pointer;

  &::before {
    content: "";
    width: 7px;
    height: 13px;
    background-color: $basic-text-color;
    mask: url("../img/icons/slider-arrow-right.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &::after {
    display: none;
  }

  &.swiper-button-disabled {
    display: none;
  }
}

.arrow-button-2--bordered {
  border: 1px solid $border-color;
}

.arrow-button-2--alter {
  background-color: $secondary-button-color;

  &::before {
    width: 8px;
    height: 14px;
    background-color: $text-color-secondary;
  }
}
