.arrow-button {
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: $secondary-button-color;
  background-image: url("../img/icons/white-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 13px;
  border-radius: 50%;
  border: 1px solid $secondary-button-color;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.arrow-button.swiper-button-prev::after,
.arrow-button.swiper-button-next::after {
  display: none;
}
