.brand__title {
  @media (min-width: 992px) {
    font-size: 36px;
    line-height: 47px;
  }
}

.brand {
  .info-coll__btns a {
    @media #{$tablet-desktop} {
      max-width: none;
    }
  }

  @media (min-width: 1200px) {
    .info-coll__btns {
      padding-left: 15px;
    }
    .button-2--with-icon--pdf {
      min-width: 260px;
    }
    .button-2--with-icon--play,
    .button-2--with-icon--phone {
      min-width: 280px;
    }
  }
}
