.button {
  display: grid;
  box-sizing: border-box;
  min-height: 40px;
  padding: 8px 5px 6px;
  border: 1px solid $button-border-color;
  border-radius: 3px;
  align-items: center;
  text-align: center;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  @media #{$tablet-desktop} {
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
  }
}

.button--primary {
  border-color: $primary-button-color;
  color: $text-color-secondary;
  background-color: $primary-button-color;
}

.button--secondary {
  border-color: $secondary-button-color;
  color: $text-color-secondary;
  background-color: $secondary-button-color;
}

.button--with-icon {
  grid-template-columns: min-content auto;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 5px;
}

.button--with-icon::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button--with-icon--phone::before {
  width: 17px;
  height: 17px;
  background-image: url("../img/icons/phone.svg");
  transform: translateY(-1px);

  @media #{$tablet-desktop} {
    width: 21px;
    height: 21px;
  }
}

.button--with-icon--pdf::before {
  width: 19px;
  height: 20px;
  margin: 0 0 0;
  background-image: url("../img/icons/pdf-icon.svg");
  transform: translateY(-1px);

  @media #{$tablet-desktop} {
    width: 27px;
    height: 27px;
  }
}

.button--with-icon--play::before {
  width: 20px;
  height: 21px;
  margin: 0 0 0;
  background-image: url("../img/icons/play-media-icon.svg");
  transform: translateY(-1px);
}

.button--with-shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.button--alter {
  font-size: 16px;
  line-height: 18px;
}

// .button--alter {
//   display: grid;
//   align-items: center;
//   text-transform: uppercase;

//   @media #{$tablet-desktop} {
//     min-height: 60px;
//   }
// }

.button--accent {
  padding: 20px 25px 18px;
  border-color: $button-accent-color;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color-secondary;
  background-color: $button-accent-color;
}

.button--gift {
  &:hover {
    border-color: $button-gift-hover-border-color;
  }

  span:first-child {
    @media #{$tablet-desktop} {
      display: none;
    }
  }

  span:nth-child(2) {
    display: none;

    @media #{$tablet-desktop} {
      display: block;
    }
  }
}
