.button-2 {
  display: grid;
  box-sizing: border-box;
  min-height: 40px;
  padding: 6px 5px 6px;
  border: 1px solid $button-border-color;
  border-radius: 3px;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  @media #{$tablet-desktop} {
    min-height: 60px;
    padding-top: 10px;
    padding-bottom: 7px;
    font-size: 14px;
    line-height: 18px;
  }

  @media #{$desktop} {
    font-size: 16px;
    line-height: 21px;
  }
}

.button-2--alter {
  font-size: 13px;
  line-height: 17px;

  &:hover {
    border-color: $button-2-alter-hover-border-color;
  }

  @media #{$tablet-desktop} {
    font-size: 14px;
    line-height: 18px;
  }

  @media #{$desktop} {
    font-size: 16px;
    line-height: 21px;
  }
}

.button-2--big {
  padding: 20px 25px 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

  &:hover {
    color: $text-color-secondary;
  }

  @media #{$laptop-desktop} {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.button-2__extra {
  @media #{$mobile} {
    display: none;
  }
}

.button-2--primary {
  border-color: $primary-button-color;
  color: $text-color-secondary;
  background-color: $primary-button-color;

  &:hover {
    color: $text-color-secondary;
  }
}

.button-2--accent {
  border-color: $button-accent-color;
  color: $text-color-secondary;
  background-color: $button-accent-color;
}


.button-2--with-icon {
  grid-template-columns: min-content auto;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 11px;
}

.button-2--with-icon::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button-2--with-icon--phone::before {
  width: 17px;
  height: 17px;
  background-image: url("../img/icons/phone.svg");
  transform: translateY(-1px);

  @media #{$tablet-desktop} {
    width: 21px;
    height: 21px;
  }
}

.button-2--with-icon--pdf::before {
  width: 19px;
  height: 20px;
  margin: 0 0 0;
  background-image: url("../img/icons/pdf-icon.svg");
  transform: translateY(-1px);

  @media #{$tablet-desktop} {
    width: 28px;
    height: 28px;
  }
}
