.button {
  display: grid;
  box-sizing: border-box;
  min-height: 40px;
  padding: 8px 5px 6px;
  border: 1px solid $button-border-color;
  border-radius: 3px;
  align-items: center;
  text-align: center;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  @media #{$tablet-desktop} {
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
  }
}

.button--primitive {
  border-color: transparent;
  color: $weak-text-color;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.button--simple {
  padding: 3px 10px;
}

.button--simplest {
  border: none;
}

.button--primary {
  border-color: $primary-button-color;
  color: $text-color-secondary;
  background-color: $primary-button-color;

  &:hover {
    color: $text-color-secondary;
  }
}

.button--primary-2 {
  border-color: $special-color;
}

.button--secondary {
  border-color: $secondary-button-color;
  color: $text-color-secondary;
  background-color: $secondary-button-color;

  &:hover {
    color: $text-color-secondary;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.button--secondary-2 {
  border-color: $secondary-button-color;
  color: $secondary-button-color;
  background-color: rgba(66, 189, 152, 0.05);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.button--tertiary {
  border-color: $tertiary-button-color;
  color: $text-color-secondary;
  background-color: $tertiary-button-color;
}

.button--with-icon {
  grid-template-columns: min-content auto;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 5px;
}

.button--with-icon-reverse {
  grid-template-columns: auto min-content;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 10px;
}

.button--with-icon-reverse::after {
  content: "";
  align-self: center;
  width: 19px;
  height: 14px;
  margin: 0;
  background: url("../img/icons/right-arrow.svg") no-repeat center;
  transform: translateY(-1px);
  background-size: contain;
}


.button--with-icon::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button--with-icon--play::before {
  width: 20px;
  height: 21px;
  margin: 0;
  background-image: url("../img/icons/play-media-icon.svg");
  transform: translateY(-1px);
}

.button--with-icon--envelope::before {
  width: 22px;
  height: 18px;
  margin: 0 5px 0 0;
  background-image: url("../img/icons/envelope.svg");
  transform: translateY(-1px);
}

.button--with-icon--cart::before {
  width: 17px;
  height: 15px;
  // margin: 0 5px 0 0;
  background-image: url("../img/icons/small-cart.svg");
  // transform: translateY(-1px);
}

.button--with-icon--download::before {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 5px 0 0;
  background-color: $special-color;
  background-image: url("../img/icons/download-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
  // transform: translateY(-1px);
}

.button--with-shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.button--small {
  @media #{$tablet-desktop} {
    font-size: 14px;
    line-height: 16px;
  }
}

.button--alter {
  font-size: 16px;
  line-height: 18px;
}

.button--alter-2 {
  min-height: 50px;
  font-size: 16px;
  line-height: 18px;
}

.button--alter-3 {
  min-height: 50px;
}

.button--alter-4 {
  min-height: 50px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-color: $special-color;
}

.button--secret {
  padding-left: 10px;
  padding-right: 10px;
  border: 2px dotted $weak-text-color;
  border-radius: 10px;
  text-align: left;
  color: $weak-text-color;
}

.button--chameleon {
  &:hover {
    border-color: $button-chamelion-color;
    color: $text-color-secondary;
    background-color: $button-chamelion-color;
  }

  &:active {
    border-color: $button-chamelion-color;
    color: $text-color-secondary;
    background-color: $button-chamelion-color;
    opacity: 0.8;
  }
}

.button--fw500 {
  font-weight: 500;
}

.button--fw600 {
  font-weight: 600;
}

.button--fw700 {
  font-weight: 700;
}

.button--lnh21 {
  line-height: 21px;
}
