.c-filter__btn-submit-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  background-color: #c91f3b;
}

.c-filter__btn-submit-wrapper .c-filter__btn--submit {
  margin-left: 0;
}
