.calculation-material {
  padding: 60px 0 0;

  @media #{$tablet-desktop} {
    display: grid;
    padding-top: 0;
    grid-template-columns: 400px 1fr;
  }

  @media #{$laptop-desktop} {
    grid-template-columns: 560px 1fr;
  }

  @media #{$wide-desktop} {
    grid-template-columns: 740px 1fr;
  }
}

.calculation-material__calculation {
  display: grid;
}

.calculation-material__heading {
  max-width: 536px;
  padding: 0 17px;
  margin: 0 auto 10px;
  font-family: $accent-font-family;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;

  @media #{$tablet-desktop} {
    display: none;
  }
}

.calculation-material__calculation-img-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $calculation-background-color;

  @media #{$tablet-desktop} {
    display: block;
    overflow: hidden;
  }
}

.calculation-material__calculation-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
}

.calculation-material__calculation-img-wrapper--cover .calculation-material__calculation-img {
  object-fit: cover;
  object-position: center;
}

.calculation-material__calculation-form-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  width: 100%;
  max-width: 580px;
  padding: 30px 5px 20px;
  margin: auto;

  @media #{$tablet-desktop} {
    padding-right: 14px;
    padding-left: 14px;
  }

  @media #{$laptop-desktop} {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media #{$wide-desktop} {
    padding-top: 20px;
  }

  .calculation-material__calculation-form {
    width: 100%;
  }

  .calculation-form__heading {
    padding: 32px 12px 12px;

    @media #{$laptop-desktop} {
      padding-right: 90px;
      padding-left: 90px;
    }
  }

  .custom-form-2--calculation .form__body {
    padding-right: 10px;
    padding-left: 10px;
  }

  .custom-form-2--calculation .form__body {
    @media #{$laptop-desktop} {
      padding: 25px 60px 20px;
    }
  }

  .custom-form-2 .form__textfield-wrapper {
    margin-bottom: 14px;
  }
  .custom-form-2--calculation .form__select {
    margin-bottom: 10px;
  }

  .custom-form-2 .form__section-heading:not(.form__section-heading--button) {
    grid-template-columns: auto;
    margin-bottom: 10px;
  }

  .custom-form-2--calculation .form__result {
    padding-bottom: 6px;
    margin-top: 6px;
    margin-bottom: 20px;
  }

  .custom-form-2--calculation .form__result-price-wrapper {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .custom-form-2--calculation .form__result-text {
    margin-bottom: 6px;
  }

  .custom-form-2--calculation .form__consent-wrapper {
    text-align: left;
  }

  .custom-form-2--calculation .form__checkbox-label-text {
    justify-content: start;
  }

  .custom-form-2--calculation .form__consent-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.calculation-material__material {
  max-width: 100%;
  padding: 20px 0 50px;

  @media #{$tablet-desktop} {
    display: grid;
    grid-template-columns: 100%;
  }

  @media #{$laptop-desktop} {
    padding: 30px 0;
  }

  @media #{$wide-desktop} {
    padding: 48px 0 30px;
  }
}

.popup--big .calculation-material {
  @media #{$wide-desktop} {
    min-height: 780px;
  }
}
