.characteristics {
  padding: 10px 0 12px;

  &--alter {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.characteristics__heading {
  margin: 0 0 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;

  @media #{$tablet-desktop} {
    margin-bottom: 23px;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 13px;
  }
}

.characteristics__list {
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 30px;

  @media #{$widemobile-desktop} {
    column-gap: 11px;
  }

  @media #{$tablet-desktop} {
    column-count: 4;
    column-gap: 10px;
  }

  @media #{$laptop-desktop} {
    column-count: 2;
    column-gap: 18px;
  }
}

.characteristics__item {
  padding: 0 0 13px 0;
  break-inside: avoid;

  @media #{$tablet-desktop} {
    padding-right: 10px;
  }

  @media #{$laptop-desktop} {
    padding-right: 20px;
  }

  @media #{desktop} {
    padding: 0px 12px 19px 0;
    column-gap: 22px;
  }
}

.characteristics__key {
  padding: 0;
  margin: 0 0 5px;
  text-transform: uppercase;
  color: $weak-text-color;
}

.characteristics__value {
  padding: 0;
  margin: 0;
  word-break: break-word;
}

.characteristics__value--with-img img {
  vertical-align: middle;
  transform: translate(4px, -1px);
}

.characteristics__link {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.characteristics--alter {
  padding-right: 10px;
  padding-left: 10px;

  @media #{$tablet-desktop} {
    padding-right: 0;
    padding-left: 0;
  }

  .characteristics__key {
    margin-bottom: 3px;
  }

  .characteristics__link {
    color: inherit;
    text-decoration: none;
  }

  .characteristics__heading {
    @media #{$tablet-desktop} {
      margin-bottom: 12px;
    }
  }
}
