.clipbox {
  --max-height: 205px;

  @media #{$tablet-desktop} {
    --max-height: 400px;
  }
}

.clipbox--alter {
  --max-height: 179px;

  @media #{$tablet-desktop} {
    --max-height: 171px;
  }

  @media #{$laptop-desktop} {
    --max-height: 154px;
  }

  @media #{$desktop} {
    --max-height: 179px;
  }
}

.clipbox--big {
  --max-height: 190px;

  @media #{$widemobile-desktop} {
    --max-height: 275px;
  }

  @media #{$tablet-desktop} {
    --max-height: 400px;
  }
}

.clipbox__content {
  position: relative;
  overflow: hidden;
}

.clipbox__toggler {
  display: none;
  width: 100%;
  padding: 11px 0 0;
  border: none;
  border-top: 1px solid currentColor;
  align-items: center;
  text-align: left;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 24px;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;

  &::after {
    content: "";
    width: 11px;
    height: 7px;
    margin: 0 0 0 7px;
    background-image: url("../img/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.clipbox--reduced {
  .clipbox__content {
    max-height: var(--max-height);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 77px;
      background: linear-gradient(to top, #ffffff 10px, rgba(255, 255, 255, 0.3), transparent);
    }
  }

  .clipbox__toggler {
    display: flex;
  }

  .clipbox__toggler-text:nth-child(2) {
    display: none;
  }
}

.clipbox--expanded {
  .clipbox__content {
    max-height: none;
  }

  .clipbox__toggler {
    display: flex;

    &::after {
      transform: rotate(180deg);
    }
  }

  .clipbox__toggler-text:first-child {
    display: none;
  }
}

.clipbox__toggler--alter {
  padding-top: 0;
  border-top: none;
  color: $clipbox-toggler-alter-color;

  &::after {
    display: none;
  }
}
