.company-info__wrapper {
  margin-bottom: 41px;

  @media #{$laptop-desktop} {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 56px;
    margin-bottom: 60px;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 47px;
  }

  @media #{$desktop} {
    column-gap: 80px;
    margin-bottom: 93px;
  }
}

.company-info__image {
  display: none;

  @media #{$laptop-desktop} {
    display: initial;
    width: 392px;
    height: auto;
  }

  @media #{$desktop} {
    width: 100%;
    margin-left: 19px;
    box-sizing: content-box;
  }
}

.company-info__image img {
  display: block;
  object-fit: contain;
  object-position: center;
}

.company-info__title {
  margin: 0 0 10px 0;
  letter-spacing: -0.03em;

  @media #{$tablet-desktop} {
    margin: 0 0 20px 0;
    letter-spacing: 0;
  }

  @media #{$laptop-desktop} {
    margin: 0 0 25px 0;
    font-size: 24px;
    line-height: 1.3;
  }

  @media #{$desktop} {
    margin: 5px 0 19px 0;
  }
}

.company-info__description-text {
  margin-bottom: 20px;
  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;

  @media #{$tablet-desktop} {
    font-size: 14px;
    line-height: 1.6;
  }
}

.company-info__description-text ul {
  margin: 0;
}
