.company-rating {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 16px 14px 15px;
  font-size: 24px;
  line-height: 28px;
  color: $text-color-secondary;
  background-color: $special-color;

  @media #{$desktop} {
    border-radius: 10px;
    grid-template-columns: auto;
    justify-items: center;
    font-size: 62px;
    line-height: 72px;
  }
}

.company-rating__heading {
  grid-column: 1 / -1;
  margin: 0 0 10px;
  text-align: center;
  font-family: $accent-font-family;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;

  @media #{$desktop} {
    margin-bottom: 60px;
    font-size: 36px;
    letter-spacing: -0.03em;
  }
}

.company-rating__rating {
  @media #{$desktop} {
    margin: 0 0 20px;
  }
}

.company-rating__link {
  font-size: 14px;
  line-height: 1.3;
  color: inherit;
  text-decoration: underline;

  @media #{$desktop} {
    font-size: 24px;
  }

  &:hover,
  &:focus {
    color: inherit;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
