.contacts-info {
  display: grid;
  row-gap: 5px;
  align-items: end;

  @media #{$tablet-desktop} {
    grid-template-columns: 390px 1fr;
    column-gap: 40px;
  }
}

.contacts-info__text-content {
  margin: 0 0 3px;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 24px;
}

.contacts-info__heading {
  margin: 0 0 14px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;

  @media #{$tablet-desktop} {
    text-align: left;
  }
}

.contacts-info__text {
  margin: 0;
  text-align: center;
  font: inherit;

  @media #{$tablet-desktop} {
    text-align: left;
  }
}

.contacts-info small {
  font: inherit;
  color: $contacts-comment-color;
}

.contacts-info__tel {
  color: currentColor;
}

.contacts-info__link {
  text-decoration: underline;
  color: $contacts-link-color;
}

.contacts-info__socials {
  justify-self: center;
  margin: 0;

  @media #{$tablet-desktop} {
    justify-self: start;
  }
}
