.current-offers {
  position: relative;
}

.current-offers__slider {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
}

.current-offers__slide {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  margin: 0;
  opacity: 0;
  transition: opacity 1000ms;
}

.current-offers__slide--active {
  opacity: 1;
}

.current-offers__content {
  grid-area: 1/1/2/2;
  margin: auto 0;

  @media #{$narrow-mobile} {
    margin: 25px 0;
  }
}

.current-offers__tabs-wrapper {
  max-width: 100%;
  transform: translateY(-68%);
  z-index: 10;

  @media #{$laptop-desktop} {
    transform: translateY(-50%);
  }

  @media #{$desktop} {
    transform: translateY(-32%);
  }
}

.current-offers__wrapper {
  position: relative;
  filter: drop-shadow(0px 290px 116px rgba(0, 0, 0, 0.01)) drop-shadow(0px 163px 98px rgba(0, 0, 0, 0.04)) drop-shadow(0px 72px 72px rgba(0, 0, 0, 0.06)) drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.07)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.07));

  @media #{$tablet-desktop} {
    filter: drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.07)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.07));
  }
}

.offers-tabs-swiper {
  border-radius: 9px;

  @media #{$tablet-desktop} {
    border-radius: 10px;
    border: 1px solid $links-list-border-color;
  }
}

.current-offers__tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media #{$tablet-desktop} {
    border-radius: 10px;
  }
}

.current-offers__tabs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 0;
  padding: 23px 43px;
  background: $background-color;
  border: 1px solid $links-list-border-color;
  border-radius: 18px;
  box-sizing: border-box;
  cursor: pointer;

  @media #{$tablet-desktop} {
    position: relative;
    padding: 20px 10px;
    border-radius: 0;
    border: none;
  }

  @media #{$laptop-desktop} {
    min-width: 196px;
    padding: 21px 8px 18px;
  }

  @media #{$desktop} {
    padding: 23px 12px;
  }
}

.current-offers__tabs-item:not(:last-child) {
  @media #{$tablet-desktop} {
    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 40px;
      right: 0;
      border: 1px solid $links-list-border-color;
    }
  }
}

.current-offers__tabs-list .current-offers__tabs-item--active {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 3px;
    background: $pagination-alter-color;
  }

  @media #{$tablet-desktop} {
    background-color: $offers-tab-background-color;

    &::after {
      height: 4px;
      bottom: -1px;
    }
  }
}

.current-offers__arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  z-index: 5;
  border: 1px solid $button-border-color;
  transform: translateY(-50%);
  filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.06));

  @media #{$tablet-desktop} {
    right: 0;
    transform: translate(50%, -50%);
  }
}

.current-offers__arrow--back {
  left: 5px;
  right: auto;
  transform: translateY(-50%) rotate(-180deg);

  @media #{$tablet-desktop} {
    left: 0;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
}

.current-offers__tabs-title {
  margin: 0 0 2px 0;
  font-family: $basic-font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0;
  text-align: center;
  text-transform: none;
  color: $offers-tab-title-color;

  @media #{$tablet-desktop} {
    font-size: 14px;
  }

  @media #{$desktop} {
    font-size: 16px;
    margin: 0 0 4px 0;
  }
}

.current-offers__tabs-text {
  margin: 0;
  font-family: $basic-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: $offers-tab-text-color;

  @media #{$laptop-desktop} {
    font-size: 12px;
  }

  @media #{$desktop} {
    font-size: 14px;
  }
}

.current-offers__dots {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 15;

  .swiper-pagination-bullet-active {
    background: $radiobutton-active-color;
  }

  @media #{$laptop-desktop} {
    display: none;
  }
}

.current-offers__tabs-wrapper .current-offers__wrapper .current-offers__dots {
  bottom: -15px;
}

.current-offers__dot {
  content: "";
  width: 7px;
  height: 7px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: $offers-dots-color;
  border: none;
  cursor: pointer;
}

.current-offers__dot:not(:last-child) {
  margin-right: 6px;
}

.current-offers__dot--current {
  background: $radiobutton-active-color;
}
