.custom-form {
  font-family: $additional-font-family;
  font-size: 16px;
  line-height: 18.75px;

  .form__header {
    max-width: 370px;
    padding: 40px 10px 0;
    margin: 0 auto;
  }

  .form__header p {
    margin: 0 0 16px;
    text-align: center;
    font: inherit;
    color: $custom-form-weak-text-color;
  }

  .form__heading {
    margin: 0 0 18px;
    text-align: center;
    font-family: $accent-font-family;
    font-size: 30px;
    line-height: 36.5px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;

    &--big-margin {
      margin-bottom: 43px;
    }
  }

  .form__body {
    max-width: 330px;
    padding: 0 10px 22px;
    margin: 0 auto;
  }

  .form__textfield-wrapper {
    margin: 0 0 6px;
  }

  .form__textfield-label {
    position: relative;
    display: block;
  }

  .form__textfield-label--required::after {
    content: "*";
    position: absolute;
    top: 13px;
    right: 0;
    color: $custom-form-weak-text-color;
  }

  .form__textfield {
    display: block;
    padding: 4px 0;
    border-bottom: 1px solid $custom-form-textfield-border-color;
  }

  .form__textfield--with-icon {
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 4px;
    align-items: center;

    &::before {
      content: "";
    }
  }

  .form__textfield--with-icon--email {
    &::before {
      width: 22px;
      height: 18px;
      background-color: $special-color;
      mask-image: url(../img/icons/envelope.svg);
    }
  }

  .form__textfield-control {
    width: 100%;
    padding: 10px 20px 10px 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    box-shadow: inset 0 0 0 100px $background-color;
  }

  .form__textfield-control::-webkit-input-placeholder {
    color: $custom-form-weak-text-color;
    opacity: 1;
  }

  .form__textfield-control::-moz-placeholder {
    color: $custom-form-weak-text-color;
    opacity: 1;
  }

  .form__textfield-control::placeholder {
    color: $custom-form-weak-text-color;
    opacity: 1;
  }

  .form__file-field-wrapper {
    margin: 30px 0 17px;
  }

  .form__file-field-label {
    display: block;
  }

  .form__file-field-label-text {
    display: block;
    margin: 0 0 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .form__file-field-control {
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    line-height: 16.41px;
    color: $custom-form-weak-text-color;
  }

  .form__file-field-control::file-selector-button {
    padding: 5px 13px 5px;
    border: 1px solid $custom-form-file-selector-button-border-color;
    border-radius: 3px;
    margin: 0 16px 0 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 14px;
    color: inherit;
    cursor: pointer;
  }

  .form__submit-wrapper {
    display: flex;
    margin: 30px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media #{$tablet-desktop} {
      justify-content: flex-start;
    }
  }

  .form__submit-wrapper--center {
    justify-content: center;
  }

  .form__submit-wrapper--mt20 {
    margin-top: 20px;
  }

  .form__submit-wrapper--mt40 {
    margin-top: 40px;
  }

  .form__footer {
    padding: 17px 10px 40px;
    border-top: 1px solid $custom-form-footer-border-color;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    background-color: $custom-form-footer-background-color;
  }

  .form__footer p {
    margin: 0 0 12px;
    font: inherit;
    color: $custom-form-weak-text-color;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: center;
    margin: 19px 0 0;
  }

  .form__button {
    min-width: 220px;
  }

  .form__button--wide {
    width: 100%;
  }

  .form__cancel-button {
    margin: 16px 56px;
  }

  .form-button {
    display: flex;
    min-height: 50px;
    padding: 10px;
    border: 1px solid $custom-form-button-border-color;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-family: $additional-font-family;
    font-size: 18px;
    line-height: 21px;
    color: $basic-text-color;
    background-color: $custom-form-button-background-color;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .form__consent-wrapper {
    margin: 30px 0 16px;
    font-size: 14px;
    line-height: 16px;
  }

  .form__checkbox-label-text {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: center;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      border: 1px solid $custom-form-button-border-color;
      border-radius: 3px;
      margin: 0 0 3px;
      cursor: pointer;
    }
  }

  .form__checkbox-control:checked + .form__checkbox-label-text::before  {
    background-image: url("../img/icons/custom-form-checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .form__checkbox-control--primary:checked + .form__checkbox-label-text::before  {
    border-color: $accent-color;
    background-color: $accent-color;
  }

  .form__checkbox-control--secondary:checked + .form__checkbox-label-text::before  {
    border-color: $special-color;
    background-color: $special-color;
  }

  .form__link {
    color: $custom-form-link-text-color;
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .form__evaluation {
    margin: 0 0 28px;
  }

  .form__textarea-wrapper {
    margin: 0 0 6px;
  }

  .form__textarea-label {
    position: relative;
    display: block;
  }

  .form__textarea {
    display: block;
    padding: 4px 0;
    border-bottom: 1px solid $custom-form-textfield-border-color;
  }

  .form__textarea-control {
    width: 100%;
    height: 60px;
    padding: 10px 20px 10px 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    resize: none;
    box-shadow: inset 0 0 0 1000px $background-color;

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      background-image: linear-gradient(to right, #cccccc, #cccccc 3px, transparent 3px);
    }
  }
}

.custom-form--compact {
  .form__header {
    padding-bottom: 10px;
  }

  .form__body {
    padding-top: 11px;
  }
}

.custom-form--big {
  .form__heading {
    text-align: left;
  }

  .form__body {
    max-width: 500px;
    padding: 0;
    margin: 0;
  }
}
