.custom-form-2 {
  font-family: $additional-font-family;
  font-size: 16px;
  line-height: 1.3;

  .form__header {
    padding: 0;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 1.2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
  }

  .form__header p {
    max-width: 370px;
    padding: 0 10px;
    // margin: 0 auto 16px;
    margin: 0 auto;
    text-align: center;
    font: inherit;
  }

  .form__heading {
    padding: 20px 10px 18px;
    margin: 0 0 12px;
    text-align: center;
    font-family: $accent-font-family;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    background-color: $custom-form-2-heading-background-color;

    &--big-margin {
      margin-bottom: 43px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media #{$tablet-desktop} {
      padding-top: 40px;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 36px;
      line-height: 46px;
      letter-spacing: -0.03em;
    }
  }

  .form__sample {
    margin: -26px 0 20px;

    @media #{$tablet-desktop} {
      margin-top: -12px;
    }
  }

  .form__body {
    max-width: 350px;
    padding: 0 10px 1px;
    margin: 0 auto;

    @media #{$tablet-desktop} {
      max-width: 324px;
      padding-bottom: 22px;
    }
  }

  .form__textfield-wrapper {
    margin: 0 0 15px;

    @media #{$tablet-desktop} {
      margin-bottom: 20px;
    }

    &--hidden {
      display: none;
    }
  }

  .form__textfield-label {
    display: block;
  }

  .form__textfield {
    position: relative;
    display: block;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% + 1px);
      right: 13px;
      width: 18px;
      height: 13px;
      background-image: url("../img/icons/checkmark-2.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transform: translateY(-50%);
      will-change: transform;
      transition-property: opacity;
      transition-duration: $custom-form-2-transition-duration;
    }

    &--valid::after {
      opacity: 1;
    }
  }

  .form__textfield--light .form__textfield-control {
    border-color: $custom-form-2-textfield-border-light-color;
  }

  .form__textfield--error .form__textfield-control {
    border-color: $custom-form-2-textfield-border-error-color;
  }

  .form__textfield-label-text {
    position: absolute;
    top: calc(50% + 1px);
    left: 13px;
    width: calc(100% - 20px);
    color: $custom-form-weak-text-color;
    transform: translateY(-50%);
    will-change: transform;
    transition-property: top, font-size, color;
    transition-duration: $custom-form-2-transition-duration;
  }

  .form__textfield-control {
    width: 100%;
    padding: 24px 44px 7px 13px;
    border: 2px solid $custom-form-2-textfield-border-color;
    border-radius: 6px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    box-shadow: inset 0 0 0 100px $background-color;
    transition-property: border-color, background-color, box-shadow;
    transition-duration: $custom-form-2-transition-duration;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .form__textfield-control:focus {
    border-color: $special-color;
  }

  .form__textfield-control:focus,
  .form__textfield-control:not(:placeholder-shown) {
    background-color: $custom-form-2-textfield-background-secondary-color;
    box-shadow: inset 0 0 0 100px $custom-form-2-textfield-background-secondary-color;
  }

  .form__textfield-control::-webkit-input-placeholder {
    color: $custom-form-weak-text-color;
    opacity: 0;
    transition-property: opacity;
    transition-duration: $custom-form-2-transition-duration;
  }

  .form__textfield-control::-moz-placeholder {
    color: $custom-form-weak-text-color;
    opacity: 0;
    transition-property: opacity;
    transition-duration: $custom-form-2-transition-duration;
  }

  .form__textfield-control::placeholder {
    color: $custom-form-weak-text-color;
    opacity: 0;
    transition-property: opacity;
    transition-duration: $custom-form-2-transition-duration;
  }

  .form__textfield-control:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  .form__textfield-control:focus::-moz-placeholder {
    opacity: 1;
  }

  .form__textfield-control:focus::placeholder {
    opacity: 1;
  }

  .form__textfield:focus-within .form__textfield-label-text,
  .form__textfield-control:not(:placeholder-shown) ~ .form__textfield-label-text {
    top: 17px;
    font-size: 12px;
    color: $basic-text-color;
  }

  .form__textarea,
  .form__textarea-label {
    display: block;
    height: 100%;
  }

  .form__textarea {
    position: relative;
    display: block;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% + 1px);
      right: 13px;
      width: 18px;
      height: 13px;
      background-image: url("../img/icons/checkmark-2.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transform: translateY(-50%);
      will-change: transform;
      transition-property: opacity;
      transition-duration: $custom-form-2-transition-duration;
    }

    &--valid::after {
      opacity: 1;
    }
  }

  .form__textarea-control {
    display: block;
    width: 100%;
    min-height: 60px;
    padding: 10px 44px 7px 13px;
    border: 2px solid $custom-form-2-textfield-border-color;
    border-radius: 6px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    transition-property: border-color, background-color, box-shadow;
    transition-duration: $custom-form-2-transition-duration;
    resize: none;

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      background-image: linear-gradient(to right, #dedede, #dedede 2px, transparent 2px);
    }
  }

  .form__textarea-control:focus {
    border-color: $special-color;
  }

  .form__textarea-control:focus,
  .form__textarea-control:not(:placeholder-shown) {
    background-color: $custom-form-2-textfield-background-secondary-color;
  }


  .form__textarea--error .form__textarea-control {
    border-color: $custom-form-2-textfield-border-error-color;
  }

  .form__file-field-wrapper {
    display: grid;
    justify-content: start;
    margin: 20px 0 17px;
    row-gap: 11px;
  }

  .form__file-field {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 16px;
    justify-content: start;
    align-items: center;
  }

  .form__file-field-description {
    display:flex;
    order: 2;
    width: 200px;
    margin: 0;
    font-size: 12px;
    line-height: 17px;
    color: $custom-form-weak-text-color;
  }

  .form__file-field-description-delete {
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(../img/icons/popup-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 3px 5px 3px 0;
    opacity: 0.8;
    cursor:pointer;
  }

  .form__file-field-description-delete:hover {
    opacity: 0.6;
  }

  .form__file-field-button {
    display: inline-block;
    padding: 7px 15px;
    border-radius: 6px;
    background-color: $custom-form-2-file-field-background-color;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
  }

  .form__file-field-control {
    display: none;
    width: 100%;
    font-family: $additional-font-family;
    font-size: 14px;
    line-height: 17px;
    color: $custom-form-weak-text-color;
    cursor: pointer;

    &--shown {
      display: block;
    }
  }

  .form__file-field-control::file-selector-button {
    display: none;
  }

  .form__submit-wrapper {
    display: flex;
    margin: 15px 0 18px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media #{$tablet-desktop} {
      margin-top: 28px;
      margin-bottom: 30px;
      justify-content: flex-start;
    }
  }

  .form__submit-wrapper--center {
    justify-content: center;
  }

  .form__submit-wrapper--mt20 {
    @media #{$tablet-desktop} {
      margin-top: 20px;
    }
  }

  .form__submit-wrapper--mb20 {
    @media #{$tablet-desktop} {
      margin-bottom: 20px;
    }
  }

  .form__footer {
    padding: 17px 10px 40px;
    border-top: 1px solid $custom-form-footer-border-color;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    background-color: $custom-form-footer-background-color;
  }

  .form__footer p {
    margin: 0 0 12px;
    font: inherit;
    color: $custom-form-weak-text-color;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: center;
    margin: 19px 0 0;
  }

  .form__button {
    min-width: 220px;
  }

  .form__button[disabled] {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
  }

  .form__button--wide {
    width: 100%;
  }

  .form__cancel-button {
    margin: 16px 56px;
  }

  .form-button {
    display: flex;
    min-height: 50px;
    padding: 10px;
    border: 1px solid $custom-form-button-border-color;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-family: $additional-font-family;
    font-size: 18px;
    line-height: 21px;
    color: $basic-text-color;
    background-color: $custom-form-button-background-color;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .form__consent-wrapper {
    margin: 15px 0 16px;
    font-family: $additional-font-family;
    font-size: 14px;
    line-height: 16px;

    @media #{$tablet-desktop} {
      margin-top: 30px;
    }
  }

  .form__checkbox-wrapper {
    margin: 16px 0;
    font-family: $additional-font-family;
    font-size: 14px;
    line-height: 16px;
  }

  .form__consent-wrapper--mt20 {
    @media #{$tablet-desktop} {
      margin-top: 20px;
    }
  }

  .form__checkbox-label-text {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      border: 1px solid $custom-form-button-border-color;
      border-radius: 3px;
      margin: 0 0 3px;
      cursor: pointer;
    }

    @media #{$tablet-desktop} {
      justify-content: start;
    }
  }

  .form__consent-wrapper .form__checkbox-control:checked ~ .form__checkbox-label-text::before,
  .form__checkbox-control:checked + .form__checkbox-label-text::before  {
    background-image: url("../img/icons/custom-form-checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .form__consent-wrapper .form__checkbox-control--primary:checked ~ .form__checkbox-label-text::before,
  .form__checkbox-control--primary:checked + .form__checkbox-label-text::before  {
    border-color: $accent-color;
    background-color: $accent-color;
  }

  .form__consent-wrapper .form__checkbox-control--secondary:checked ~ .form__checkbox-label-text::before,
  .form__checkbox-control--secondary:checked + .form__checkbox-label-text::before  {
    border-color: $special-color;
    background-color: $special-color;
  }

  .form__link {
    color: $custom-form-link-text-color;
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .form__section-wrapper {
    border-radius: 10px;
    margin: 0 16px;
    background-color: $background-color;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.06);
  }

  .form__section {
    padding: 0;
    border: none;
    margin: 0;
  }

  .form__section-header {
    padding: 16px 15px 0;

    @media #{$cart-tablet}  {
      padding: 30px 30px 0;
    }
  }

  .form__section-header-note {
    margin: 13px 11px 0 0;
  }

  .form__section-header-inner {
    @media #{$cart-tablet} {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 19px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $order-good-list-item-border-color;
    }
  }

  .form__section-heading {
    display: block;
    box-sizing: border-box;
    margin: 0 0 7px;
    text-align: left;
    font-family: $accent-font-family;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;

    @media #{$cart-tablet}  {
      margin-bottom: 0;
    }
  }

  .form__section-heading:not(.form__section-heading--button) {
    @media #{$cart-tablet} {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 15px;
      align-items: center;
      font-size: 24px;
    }
  }

  .form__section-heading-icon {
    display: none;

    @media #{$cart-tablet} {
      display: block;
    }
  }

  .form__section-heading--button {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .form__section-heading-button {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 16px 15px 13px;
    border: none;
    text-align: inherit;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    @media #{$cart-tablet} {
      display: grid;
      padding: 30px;
      grid-template-columns: auto 1fr;
      column-gap: 15px;
      align-items: center;
      font-size: 24px;
    }
  }

  .form__section-heading-button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    width: 19px;
    background-image: url("../img/icons/accordion-button-plus.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media #{$cart-tablet} {
      right: 30px;
    }
  }

  .form__section-body {
    display: none;
    padding: 5px 15px 15px;

    @media #{$cart-tablet} {
      padding: 5px 30px 30px;
    }
  }

  .form__section-group {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;

    @media #{$cart-tablet} {
      row-gap: 20px;
      column-gap: 20px;
    }

    &--address {
      grid-template-columns: 1fr 1fr;

      @media #{$cart-tablet} {
        width: 530px;
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &--3-columns {
      @media #{$cart-tablet} {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
      }
    }

    &--radiobuttons {
      row-gap: 15px;
    }
  }

  .form__section-group .form__textfield-wrapper {
    margin-bottom: 0;
  }

  .form__section-group--address .form__textfield-wrapper--wide {
    grid-column: span 2;
  }

  .form__section--open {
    .form__section-body {
      display: block;
    }

    .form__section-body--address {
      display: grid;
    }

    .form__section-heading-button::after {
      background-image: url("../img/icons/accordion-button-minus.svg");
    }

    .form__section-heading-button {

      @media #{$cart-tablet} {
        padding-bottom: 15px;
      }
    }
  }

  .form__radiobutton {
    font-size: 14px;

    @media #{$cart-tablet} {
      font-size: 16px;
    }
  }

  .form__radiobutton-label {
    display: grid;
    grid-template-columns: 18px 1fr;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;

    &::before {
      content: "";
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      padding: 3px;
      border: 1px solid $custom-form-2-radiobutton-color;
      border-radius: 50%;
      background-clip: content-box;
    }
  }

  .form__radiobutton-control:enabled:not(:checked) + .radiobutton__label:hover::before {
    opacity: 0.8;
  }

  .form__radiobutton-control:checked + .form__radiobutton-label::before {
    background-color: $special-color;
    border-color: $special-color;
  }

  .form__radiobutton-control:checked + .form__radiobutton-label {
    font-weight: 600;
  }

  .form__radiobutton-control:disabled + .form__radiobutton-label {
    opacity: 0.3;
  }

  .form__section-comment {
    margin: 20px 0 0;
    font-family: $additional-font-family;
    font-size: 13px;
    line-height: 17px;

    @media #{$cart-tablet} {
      margin-top: 30px;
    }
  }

  .form__section-comment--accent {
    font-weight: 700;
    color: $special-color;
  }

  .form__section-link {
    margin: 0 0 0 7px;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
    color: $basic-text-color;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .form__notice {
    padding: 7px 5px 6px;
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 18px;

    &--success {
      display: inline-grid;
      grid-auto-flow: column;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      background-color: $background-secondary-color;

      &::before {
        content: "";
        width: 18px;
        height: 13px;
        background-image: url(../img/icons/checkmark-2.svg);
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-2px, -2px);
        will-change: transform;
      }
    }

    &--error {
      text-align: center;
      background-color: $custom-form-2-notice-error-color;
    }
  }
}


.custom-form-2--order {
  .form__body {
    display: grid;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
    align-items: start;

    @media #{$tablet-desktop} {
      padding-bottom: 0;
    }

    @media #{$cart-desktop} {
      grid-template-columns: 860px 400px;
      // padding-bottom: 200px;
      column-gap: 80px;
    }
  }

  .form__sections {
    display: grid;
    row-gap: 10px;
  }

  .form__section-wrapper {
    @media #{$cart-desktop} {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .form__section-header-note {
    margin: 0;
  }

  .form__actions {
    margin-top: 100px;

    @media #{$cart-desktop} {
      margin-top: 0;
    }
  }

  .form__footer {
    display: flex;
    padding: 5px 5px 5px 16px;
    border-radius: 0;
    flex-wrap: wrap;
    align-items: center;
    background-color: $background-color;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

    @media #{$cart-desktop} {
      display: block;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.06);
    }
  }

  .form__footer-submit-button {
    min-width: 130px;
    margin: 0 0 0 14px;

    @media #{$cart-desktop} {
      width: 100%;
      margin-left: 0;
    }
  }

  .form__footer-submit-button-extra {
    display: none;

    @media #{$cart-desktop} {
      display: inline;
    }
  }

  .form__footer .form__footer-total {
    margin: 0 30px 0 0;
    text-align: left;
    font-family: $accent-font-family;
    font-size: 12px;
    line-height: 1.3;
    color: $basic-text-color;

    @media #{$cart-desktop} {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 8px;
      justify-content: space-between;
      align-items: baseline;
      margin-right: 0;
      border-bottom: 1px solid $form-order-footer-total-border-color;
      font-size: 24px;
    }
  }

  .form__footer-total-price-wrapper {
    display: block;
    margin: 4px 0 0;
    font-family: $additional-font-family;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;

    @media #{$cart-desktop} {
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
    }
  }

  .form__footer .form__footer-discout {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 14px 0 34px;
    font-size: 16px;
    line-height: 18px;
    color: $accent-color;

    @media #{$cart-desktop} {
      display: flex;
    }
  }

  .form__footer-buttons {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 auto;
    align-items: center;
  }

  @media #{$cart-desktop} {
    margin-left: 0;
  }

  .form__footer-promo-button {
    @media #{$cart-desktop} {
      display: none !important;
    }

    &--hidden {
      display: none;
    }
  }

  .form__consent-wrapper {
    display: none;
    margin: 20px 0 0;
    font-family: $additional-font-family;
    font-size: 12px;
    line-height: 14px;

    @media #{$tablet-desktop} {
      margin-top: 20px;
    }

    @media #{$cart-desktop} {
      display: block;
    }
  }

  .form__promocode-button {
    width: 100%;
    margin: 20px 0 0;

    &--hidden {
      display: none;
    }

    @media #{$cart-only-tablet} {
      display: none !important;
    }
  }

  .form__promocode {
    display: none;
    margin: 20px 16px 20px;

    &--show {
      display: block;
    }

    @media #{$cart-desktop} {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .form__section-comment--transportation {
    position: relative;
  }

  .form__section-link--transportation {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: -10px;
      bottom: -10px;
      left: 0;
    }
  }

  .form__section-transportation-table-wrapper {
    position: absolute;
    z-index: 2;
    top: -10px;
    left: -20px;
    display: none;
    max-width: 130%;
    padding: 35px 25px;
    border-radius: 10px;
    background-color: $background-color;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-100%) scale(0.8);
    transform-origin: left bottom;
    will-change: transform;

    @media #{$cart-desktop} {
      top: -10px;
      left: 188px;
    }
  }

  .form__section-transportation-table-wrapper:hover,
  .form__section-link--transportation:hover ~ .form__section-transportation-table-wrapper {
    display: block;
  }

  .form__section-body--address {
    row-gap: 21px;
    column-gap: 22px;
    align-items: center;

    .form__delivery-self {
      justify-self: start;
    }

    .form__section-comment {
      margin-top: 0;
    }

    .form__info--stock {
      display: none;
    }

    @media #{$cart-tablet} {
      grid-template-columns: max-content 1fr;

      .form__section-group {
        grid-column: 1 / 3;
      }

      .form__info {
        grid-column: 1 / 3;
      }
    }
  }

  .form__section-body--address--stock {
    row-gap: 17px;

    .form__info--stock {
      display: block;
    }

    .form__section-group,
    .form__section-comment--transportation {
      display: none;
    }
  }

  .form__info {
    font-size: 16px;
    line-height: 1.3;
  }

  .form__info-key-word {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
  }

  .form__info-address {
    position: relative;
    font: inherit;
    padding: 0 0 0 26px;
    margin: 10px 0;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 16px;
      height: 21px;
      background-image: url("../img/icons/address-icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .form__info-comment {
    display: block;
    margin: 19px 0 0;
    font-size: 14px;
    line-height: 1.3;
    color: $weak-text-color;
  }
}

.custom-form-2--calculation {
  .form__body {
    max-width: none;

    @media #{$tablet-desktop} {
      padding: 16px 68px 20px;
    }
  }

  .form__select {
    margin: 0 0 16px;

    @media #{$tablet-desktop} {
      margin-bottom: 20px;
    }
  }

  .form__section {
    @media #{$widemobile-desktop} {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 5px;
    }
  }

  .form__section-heading {
    margin-bottom: 15px;
    text-align: center;
    font-family: $additional-font-family;
    font-size: 16px !important;
    line-height: 1.3 !important;

    @media #{$widemobile-desktop} {
      grid-column: 1 / -1;
    }

    @media #{$tablet-desktop} {
      margin-bottom: 21px;
    }
  }

  .form__result {
    padding: 19px 14px;
    border-radius: 6px;
    margin: 10px 0 29px;
    background-color: $background-secondary-color;

    .form__textfield-wrapper {
      margin-bottom: 0;
    }

    &--hidden {
      display: none;
    }
  }

  .form__result-price-wrapper {
    margin: 0 0 11px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  .form__result-text {
    margin: 0 0 11px;
    font-size: 14px;
    line-height: 1.4;
    color: $weak-text-color;
  }

  .form__submit {
    width: 100%;
    margin: 5px 0;
  }

  .form__consent-wrapper {
    margin-top: 20px;

    @media #{$tablet-desktop} {
      margin-top: 30px;
    }
  }

  .form__checkbox-label-text {
    justify-content: center;
  }

  .form__notice {
    display: none;
    width: 100%;
  }
}

.custom-form-2--calculation.custom-form-2--notice--success {
  .form__consent-wrapper {
    display: none;
  }

  .form__notice--success {
    display: inline-grid;
  }
}

.custom-form-2--calculation.custom-form-2--notice--error {
  .form__consent-wrapper {
    display: none;
  }

  .form__notice--error {
    display: block;
  }
}

.custom-form-2--feedback {
  .form__select {
    margin-bottom: 20px;
  }

  .form__file-field-description {
    width: 100%;
  }
}

.custom-form-2 .button {
  font-family: $additional-font-family;
}
