.good {
  display: grid;
  box-sizing: border-box;
  height: 100%;
  border-radius: 10px;
  align-content: start;
  overflow: hidden;
  font-family: $additional-font-family;
  background-color: $background-color;
  box-shadow: 0px 3px 50px 2px rgba(0, 0, 0, 0.06);
}

.good__main {
  display: grid;
  padding: 0 18px;
  margin: 0 0 6px;
  grid-template-columns: 1fr auto;
  column-gap: 18px;
  align-items: center;
}

.good__heading {
  grid-column: 1 / 2;
  display: -webkit-box;
  margin: 0 0 8px;
  font-family: $additional-font-family;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  overflow-wrap: anywhere;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  hyphens: auto;
}

.good__link {
  text-decoration: none;
  color: inherit;
}

.good__like {
  grid-area: 1 / 2 / 3 / 3;
  align-self: start;
  display: none;
  margin: 0;
  width: 18px;
  height: 18px;
}

.good__characteristics {
  grid-column: 1 / 2;
  max-width: 380px;
  margin: 0;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 1;
  color: $characteristics-color;
}

.good__characteristics-value {
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px 5px 0;
}

.good__link-2 {
  text-decoration: none;
  color: $accent-color-2;
}

.good__characteristics-country {
  display: grid;
  margin: 0;
  grid-template-columns: auto 1fr;
  column-gap: 4px;
  align-items: center;
  font: inherit;
}

.good__characteristics-flag {
  order: -1;
  width: 15px;
  height: 12px;
  border-radius: 3px;
  object-fit: contain;
  object-position: center;
}

.good__colors {
  grid-column: 1 / 3;
  display: none;
  margin: 0 0 3px;
  font-size: 0;
  color: $characteristics-color;
}

.good__color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 2px;
  border-radius: 50%;
  border: 1px solid #cccccc;
}

.good__color-name {
  vertical-align: top;
  display: inline-block;
  margin: 2px 2px 0 0;
  font-size: 13px;
  line-height: 1.3;
}

.good__shapes {
  display: none;
  grid-column: 1 / 3;
  min-height: 17px;
  margin: 0;
  color: $characteristics-color;
}

.good__shape {
  display: inline-block;
  margin: 0 2px 0 0;
  font-size: 13px;
  line-height: 1.3;
}

.good__shape-name {
  display: inline-block;
  font-size: 13px;
  line-height: 1.3;
}

.good__photo {
  order: -1;
  display: grid;
  padding: 8px 8px 0;
  margin: 0 0 7px;
}

.good__photo-link {
  grid-area: 1 / 1 / 2 / 2;
  text-decoration: none;
}

.good__img-wrapper {
  display: block;
  width: 100%;
  height: 200px;
  margin: 0;

  @media #{$tablet-desktop} {
    height: 255px;
  }
}

.good__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: contain;
  object-position: center;
}

.good__labels-list {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
  margin: 0 0 8px 17px;
}

.good__footer {
  position: relative;
  display: grid;
  padding: 8px 18px 12px;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "price       add-cart"
    "code        add-cart"
    "quick-order quick-order";
  column-gap: 10px;
  align-items: start;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 18px;
    left: 18px;
    height: 1px;
    background-color: $good-main-border-color;
  }
}

.good__price-wrapper {
  grid-area: price;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2px 0;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}

.good__price {
  margin: 4px 0;
  font: inherit;

  &--new {
    margin-right: 8px;
    color: $accent-color-2;
  }

  &--old {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    color: $characteristics-color;
  }
}

.good__code-wrapper {
  grid-area: code;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 3px;
  justify-content: start;
  align-items: center;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: lowercase;
  color: $characteristics-color;
}

.good__code {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.good__code-button {
  vertical-align: middle;
  margin: 0 0.2em 0 0;
}

.good__add-cart {
  grid-area: add-cart;
  justify-self: end;
  display: inline-grid;
  min-width: 100px;
  min-height: 40px;
  padding: 13px 10px 11px;
  margin: 2px 0 0;
  border: none;
  border-radius: 3px;
  grid-template-columns: min-content auto;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-family: $additional-font-family;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $text-color-secondary;
  background-color: $special-color;
  cursor: pointer;

  &::before {
    content: "";
    width: 17px;
    height: 15px;
    margin: 0 0 1px 0;
    background-image: url("../img/icons/small-cart.svg");
  }

  &:active {
    background-color: $good-quick-order-button-active-color;
  }
}

.good__quick-order-button {
  grid-area: quick-order;
  justify-self: center;
  padding: 6px 12px;
  border: none;
  margin: 10px 0 0;
  text-align: center;
  font-family: $additional-font-family;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: $special-color;
  background-color: transparent;
  cursor: pointer;

  @media #{$mobile} {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media #{$laptop-desktop} {
    display: none;
    width: 100%;
    min-height: 40px;
    padding: 8px 10px 6px;
    border: 1px solid $special-color;
    border-radius: 3px;
    color: $special-color;
    background-color: fade-out($special-color, 0.95);

    &:hover {
      color: $text-color-secondary;
      background-color: $special-color;
    }

    &:active {
      background-color: $good-quick-order-button-active-color;
    }
  }
}

.good__total-price-wrapper {
  grid-area: total-price;
  display: none;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: $characteristics-color;
}

.good__remove-cart {
  grid-area: remove-cart;
  justify-self: end;
  display: none;
  min-height: 40px;
  padding: 9px;
  margin: 2px 0 0;
  border: none;
  border-radius: 3px;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: $additional-font-family;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: $special-color;
  background-color: rgba(66, 189, 152, 0.05);
  cursor: pointer;

  &::before {
    content: "";
    width: 18px;
    height: 13px;
    background-image: url("../img/icons/checkmark-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.good__remove-cart-hover-text {
  display: none;
}

.good__radiobuttons {
  grid-area: radiobuttons;
  display: none;
}

.good__radiobutton {
  margin: 0 2px 0 0;
}

.good__number-field {
  grid-area: number-field;
  display: none;
  margin: 0;
}

.good__form-wrapper {
  grid-area: form;
  display: none;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  align-items: center;
}

.good__form-wrapper .form__textfield-wrapper {
  margin: 0;
}

.good__cancel-order {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: none;
  background-color: rgba(66, 189, 152, 0.1);
  background-image: url("../img/icons/popup-close.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.good__submit-order {
  grid-area: submit;
  display: none;
  min-height: 40px;
  padding: 13px 10px 11px;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-family: $additional-font-family;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $text-color-secondary;
  background-color: $special-color;
  cursor: pointer;
}

.good:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  .good__colors,
  .good__shapes,
  .good__quick-order-button {
    display: block;
  }
}

.good.good--in-cart {
  .good__footer {
    grid-template-areas:
      "price        remove-cart"
      "total-price  remove-cart"
      "radiobuttons number-field";
  }

  .good__add-cart,
  .good__quick-order-button,
  .good__code-wrapper {
    display: none;
  }

  .good__total-price-wrapper {
    display: block;
    margin: 0 0 4px;
  }

  .good__remove-cart {
    display: inline-grid;
  }
}

.good--in-cart:hover {
  .good__remove-cart-text {
    display: none;
  }

  .good__remove-cart-hover-text {
    display: inline;
  }

  .good__radiobuttons {
    align-self: center;
    display: flex;
  }

  .good__number-field {
    align-self: center;
    display: grid;
  }
}

.good.good--quick-order {
  .good__footer {
    grid-template-columns: 1fr auto auto;
    grid-template-areas:
      "price        radiobuttons radiobuttons"
      "total-price  radiobuttons radiobuttons"
      "number-field number-field number-field"
      "form         form         form"
      "submit       submit       submit";
    column-gap: 5px;
  }

  .good__add-cart,
  .good__quick-order-button,
  .good__code-wrapper {
    display: none;
  }

  .good__total-price-wrapper {
    display: block;
    margin: 0;
  }
}

.good--quick-order:hover {
  .good__radiobuttons {
    display: flex;
  }

  .good__number-field {
    display: grid;
  }

  .good__form-wrapper {
    display: grid;
    margin: 4px 0 0;
  }

  .good__submit-order {
    display: inline-grid;
    margin: 6px 0 0;
  }
}
