.good-list {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  list-style: none;

  @media (min-width: 716px) {
    grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
  }

  @media #{$tablet-desktop} {
    row-gap: 20px;
  }
}

.good-list__good {
  height: 100%;
}


.good-list__item {
  position: relative;
  margin: 0;

  &:hover,
  &:focus {
    z-index: 2;
    height: 460px;

    .good-list__good {
      height: auto;
    }
  }

  @media #{$widemobile-desktop} {
    &:hover,
    &:focus {
      height: 439px;

      .good-list__good {
        height: auto;
      }
    }
  }
}
