.good-card {
  padding: 20px 0;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 20px;

  @media #{$tablet-desktop} {
    padding-top: 53px;
  }
}

.good-card__container {
  @media #{$tablet-desktop} {
    padding: 0 15px;
  }

  @media #{$desktop} {
    width: 1480px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.good-card__form {
  @media #{$tablet-desktop} {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 40px;
    align-items: center;
  }

  @media #{$laptop-desktop} {
    grid-template-columns: 58.4% 1fr auto;
    align-items: start;
    row-gap: 40px;
  }

  @media #{$desktop} {
    grid-template-columns: 870px 1fr auto;
    column-gap: 84px;
  }
}

.good-card__heading {
  padding: 0 10px;
  margin: 0 0 5px;
  text-align: center;
  font-family: $accent-font-family;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;

  @media #{$widemobile-desktop} {
    padding: 0 20px;
  }

  @media #{$tablet-desktop} {
    justify-self: center;
    width: 440px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 99px;
  }

  @media #{$laptop-desktop} {
    grid-column: 1 / 3;
    width: 840px;
    margin-left: 144px;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -0.03em;
  }

  @media #{$desktop} {
    width: 1000px;
    margin-left: 196px;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0;
  }
}

.good-card__img-wrapper {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 17px 0 24px;
  overflow-x: hidden;

  @media #{$tablet-desktop} {
    grid-column: 1 / 3;
    margin-top: 32px;
    margin-bottom: 44px;
  }

  @media #{$laptop-desktop} {
    grid-column: 1 / 2;
    margin-top: 0;
  }
}

.good-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

.good-card__actions {
  display: flex;
  margin: 0;
  justify-content: center;

  @media #{$laptop-desktop} {
    margin-top: 7px;
  }
}

.good-card__like {
  width: 28px;
  height: 28px;
  margin: 4px 2px;

  @media #{$tablet-desktop} {
    width: 48px;
    height: 48px;
  }
}

.good-card__share {
  margin: 4px 2px;
}

.good-card__text-content {
  padding: 0 10px;

  @media #{$tablet-desktop} {
    grid-column: 1 / 3;
    padding: 0;
  }

  @media #{$laptop-desktop} {
    grid-column: 2 / 4;
    margin-right: 30px;
  }

  @media #{$desktop} {
    margin-right: 0;
  }
}

.good-card__price-wrapper {
  position: relative;
  display: flex;
  padding: 19px 12px 10px;
  margin: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
  background-color: $background-color;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.08);

  @media #{$widemobile-desktop} {
    padding: 20px 12px 9px;
  }

  @media #{$tablet-desktop} {
    padding: 19px 20px 13px;
    align-items: center;
  }

  @media #{$laptop-desktop} {
    padding-bottom: 9px;
  }
}

.good-card__price {
  margin: 0;
  font-size: 24px;
  line-height: 38px;

  @media #{$widemobile-desktop} {
    margin-bottom: 1px;
  }
}

.good-card__price-value {
  margin: 0 2px 0 0;
  font-size: 32px;
  line-height: 38px;
}

.good-card__price sup {
  margin: 0 0 0 1px;
  font-size: 0.6em;
  font-weight: 600;
}

.good-card__discount-info {
  display: grid;
  margin: 0 0 4px 20px;
  font-size: 14px;
  line-height: 1;

  @media #{$tablet-desktop} {
    margin-right: 20px;
  }
}

.good-card__discount-value {
  color: $good-card-discount-value-color;
}

.good-card__old-price {
  margin: 0 0 0 0.28em;
  text-decoration-color: $good-card-old-price-line-color;
}

.good-card__price-offer {
  width: 100%;
  margin: 0;
  font-size: 13px;
  line-height: 20px;

  @media #{$widemobile-desktop} {
    font-size: 14px;
  }

  @media #{$tablet-desktop} {
    width: auto;
    margin-left: auto;
  }

  @media #{$laptop-desktop} {
    width: 100%;
  }
}

.good-card__price-link {
  font-weight: 500;
  color: $good-card-price-link-color;
}

.good-card__availability-quantity {
  margin: 0 0 9px;
  font: inherit;

  @media #{$tablet-desktop} {
    margin-right: 30px;
    margin-bottom: 0;
  }

  @media #{$laptop-desktop} {
    width: 100%;
    margin-bottom: 14px;
  }

  @media #{$desktop} {
    width: auto;
  }
}

.good-card__availability {
  padding: 20px 12px 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.08);

  @media #{$tablet-desktop} {
    display: flex;
    padding: 18px 28px 16px 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  @media #{$laptop-desktop} {
    padding-top: 20px;
    padding-bottom: 3px;
    margin-left: 0;
  }

  @media #{$desktop} {
    padding-right: 17px;
  }
}

.good-card__quantity {
  margin: 0 7px 0 0;
  font-size: 24px;
  line-height: 24px;
}

.good-card__goods-quantity {
  margin: 0 0 4px;

  @media #{$widemobile-desktop} {
    margin-bottom: 0;
  }
}

.good-card__quantity sup {
  font-size: 0.6em;
  font-weight: 600;
}

.good-card__country {
  display: none;
  font: inherit;

  @media #{$desktop} {
    display: block;
    margin: 0 0 8px 0;
  }
}

.good-card__select {
  margin: 0 0 11px;

  @media #{$tablet-desktop} {
    margin-right: 30px;
    margin-bottom: 0;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 12px;
  }
}

.good-card__vendor-code {
  margin: 0;
  font: inherit;

  @media #{$laptop-desktop} {
    margin-bottom: 10px;
  }
}

.good-card__vendor-code-button {
  vertical-align: middle;
}

.good-card__note {
  margin: 0 0 15px;

  @media #{$widemobile-desktop} {
    margin-bottom: 0;
  }
}

.good-card__total-price {
  padding: 0 12px;
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media #{$widemobile-desktop} {
    text-align: left;
  }

  @media #{$tablet-desktop} {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px
  }
}

.good-card .note::before {
  @media (max-width: 321px) {
    left: 28px;
  }
}

.good-card__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  margin: 0 0 40px;

  @media #{$widemobile-desktop} {
    margin-bottom: 32px;
    row-gap: 13px;
  }

  @media #{$tablet-desktop} {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
  }

  @media #{$laptop-desktop} {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  @media #{$desktop} {
    gap: 20px 10px;
  }
}

.good-card__submit {
  grid-column: 1 / 3;
}

.good-card__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px 17px;
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
  font-size: 13px;
  line-height: 17px;

  @media #{$widemobile-desktop} {
    margin-bottom: 20px;
  }

  @media #{$tablet-desktop} {
    width: 61%;
    margin-bottom: 30px;
    gap: 24px 20px;
  }

  @media #{$laptop-desktop} {
    width: 100%;
  }

  @media #{$desktop} {
    gap: 25px 22px;
  }
}

.good-card__features-item {
  margin: 0;
  font: inherit;

  @media #{$widemobile-desktop} {
    width: 85%;
  }

  @media #{$tablet-desktop} {
    width: 100%;;
  }
}

.good-card__features-accent {
  color: $good-card-features-accent-color;
  font-weight: 700;
}

.good-card__features-link {
  display: block;
  font-size: 12px;
  line-height: 20px;
  text-decoration: underline;
  color: currentColor;
}

.good-card__group {
  @media #{$widemobile-desktop} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
  }

  @media #{$tablet-desktop} {
    gap: 4px;
  }

  @media #{$laptop-desktop} {
    gap: 7px;
  }

  @media #{$desktop} {
    margin-bottom: 18px;
    column-count: 2;
  }
}

.good-card__country img {
  margin-right: 10px;

  @media #{$desktop} {
    margin-right: 6px;
  }
}

.good-card__labels {
  position: absolute;
  top: 15px;
  right: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-family: $basic-font-family;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: $text-color-secondary;
}

.good-card__label {
  padding: 6px 8px 3px;
  border-radius: 4.55px;
  margin: 0 0 0 10px;
  font: inherit;
  background-color: $good-card-label-background-color;
}
