.good {
  display: grid;
  box-sizing: border-box;
  padding: 8px 8px 18px;
  border-radius: 10px;
  row-gap: 11px;
  font-family: $basic-font-family;
  background-color: $background-color;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.06);
}

.good__main {
  display: grid;
  padding: 0 10px 10px;
  grid-template-columns: 1fr auto;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
  border-bottom: 1px solid $good-main-border-color;
}

.good__heading {
  margin: 0;
  grid-column: 1 / 2;
  font-family: $basic-font-family;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}

.good__link {
  text-decoration: none;
  color: inherit;
}

.good__photo {
  order: -1;
  display: grid;
}

.good__photo-link {
  grid-area: 1 / 1 / 2 / 2;
  text-decoration: none;
}

.good__img-wrapper {
  display: block;
  width: 100%;
  height: 255px;
  margin: 0;
}

.good__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
}

.good__like {
  grid-column: 2 / 3;
  margin: 0;
  width: 23px;
  height: 23px;
}

.good__labels-list {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
  margin: 0 0 10px 10px;
}

.good__characteristics {
  grid-column: 1 / 3;
  max-width: 380px;
  margin: 0;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1;
  color: $weak-text-color;
}

.good__characteristics-value {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px 5px 0;
}

.good__characteristics-country {
  display: grid;
  margin: 0;
  grid-template-columns: auto 1fr;
  column-gap: 4px;
  align-items: center;
  font: inherit;
}

.good__characteristics-flag {
  order: -1;
  width: 15px;
  height: 12px;
  border-radius: 3px;
  object-fit: contain;
  object-position: center;
}

.good__extra {
  display: grid;
  padding: 0 10px;
  grid-template-columns: 1fr auto;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
}

.good__price-code {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  row-gap: 8px;
}

.good__price {
  margin: 0;
  font-size: 24px;
  line-height: 1;
}

.good__total-price-wrapper {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $weak-text-color;
}

.good__code-wrapper {
  margin: 2px 0 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: lowercase;
  color: $weak-text-color;
}

.good__code-button {
  vertical-align: middle;
  margin: 0 0 0 5px;
}

.good__cart-button {
  align-self: start;
  min-width: 106px;
  min-height: 40px;
}

.good__status {
  justify-self: end;
  align-self: start;
  display: none;
  grid-auto-flow: column;
  padding: 18px 10px 14px;
  margin: 0;
  border-radius: 3px;
  column-gap: 10px;
  align-items: center;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: $special-color;
  background-color: rgba(66, 189, 152, 0.05);

  &::before {
    content: "";
    width: 18px;
    height: 13px;
    background-image: url("../img/icons/checkmark-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.good__quick-order-button {
  display: none;
  grid-column: 1 / 3;
  margin: 5px 0 0;
}

.good__radiobuttons {
  grid-column: span 1;
  margin: 7px 0 0;
  display: none;
}

.good__radiobutton {
  margin: 0 2px 0 0;
}

.good__number-field {
  display: none;
  margin: 7px 0 0;
  transform: translateX(2px);
}

.good__form-wrapper {
  grid-column: 1 / 3;
  display: none;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  align-items: center;
}

.good__form-wrapper .form__textfield-wrapper {
  margin: 0;
}

.good__cancel-order {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: none;
  background-color: rgba(66, 189, 152, 0.1);
  background-image: url("../img/icons/popup-close.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.good__submit-order {
  display: none;
  grid-column: 1 / 3;
  margin: 5px 0 0;
}

.good__submit-text {
  display: none;
  grid-column: 1 / 3;
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 1.4;
}

.good:hover {
  .good__quick-order-button {
    display: block;
  }
}

.good--in-cart {
  .good__cart-button {
    display: none;
  }

  .good__status {
    display: grid;
  }

  .good__quick-order-button {
    display: none !important;
  }

  &:hover {
    .good__radiobuttons {
      display: flex;
    }

    .good__number-field {
      display: grid;
    }
  }
}

.good--quick-order {
  .good__like {
    display: none;
  }

  .good__extra {
    padding-top: 8px;
  }

  .good__price-code {
    grid-area: 1 / 1 / 2 / 3;
  }

  .good__total-price-wrapper {
    display: block;
  }

  .good__code-wrapper {
    display: none;
  }

  .good__cart-button {
    display: none;
  }

  .good__radiobuttons {
    grid-column: 1 / 3;
    align-self: start;
    justify-self: center;
    display: flex;
    margin: 0;
  }

  .good__quick-order-button {
    display: none !important;
  }

  @media (min-width: 363px) {
    .good__price-code {
      grid-area: 1 / 1 / 2 / 2;
    }

    .good__radiobuttons {
      grid-column: span 1;
    }
  }

  &:hover {
    .good__number-field {
      display: grid;
      margin-top: 0;
      grid-column: 1 / 3;
    }

    .good__form-wrapper {
      display: grid;
    }

    .good__submit-order {
      display: grid;
    }
  }
}

.good--in-order {
  .good__like {
    display: none;
  }

  .good__extra {
    padding-top: 8px;
  }

  .good__cart-button {
    display: none;
  }

  .good__total-price-wrapper {
    display: block;
  }

  .good__code-wrapper {
    display: none;
  }

  .good__quick-order-button {
    display: none !important;
  }

  &:hover {
    .good__submit-text {
      display: block;
    }
  }
}
