.goods__inner {
  padding: 0 14px;

  @media #{$desktop} {
    width: 1480px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
  }
}

.goods__heading {
  margin: 0 0 22px;

  @media #{$tablet-desktop} {
    margin-bottom: 40px;
  }
}

.goods__good-list {
  margin: 0;
  list-style: none;
}

.goods__button-wrapper {
  display: flex;
  padding: 0 14px;
  margin: 40px 0 0;

  @media #{$tablet-desktop} {
    padding: 0;
  }

  @media #{$laptop-desktop} {
    margin-top: 50px;
  }
}

.goods__button {
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;

  @media #{$tablet-desktop} {
    width: auto;
    min-width: 350px;
    margin: 0 auto;
  }
}

.goods__slider.swiper {
  padding: 57px 0 200px;
}

.goods__slider-button-next,
.goods__slider-button-prev {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  margin: 0
}

.goods__slider-button-prev {
  right: 45px;
}

.goods__slider-button-next {
  transform: rotate(180deg);
}
