// Basic version

.goods__inner {
  padding: 0 14px;

  @media #{$desktop} {
    width: 1480px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.goods__heading {
  margin: 0 0 22px;

  @media #{$tablet-desktop} {
   margin-bottom: 40px;
  }
}

.goods__list {
  margin: 0;
}

.goods__button-wrapper {
  display: flex;
  padding: 0 14px;
  margin: 30px 0 0;

  @media #{$tablet-desktop} {
    padding: 0;
  }
}

.goods__button {
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;

  @media #{$tablet-desktop} {
    width: auto;
    min-width: 250px;
    margin: 0 auto;
  }

  @media #{$desktop} {
    min-width: 330px;
  }
}

.goods__slider-buttons {
  display: none;
}

// Swiper version

.goods--swiper {
  .goods__inner {
    display: grid;
    width: auto;
    padding: 0;
    margin: 0;
    grid-template-areas:
        "heading"
        "slider"
        "slider-arrows"
        "button";

    @media #{$tablet-desktop} {
      justify-content: center;
      // grid-template-columns: 1fr auto;
      grid-template-columns: 100%;
      // column-gap: 20px;
      // grid-template-areas:
      //   "heading heading"
      //   "slider  slider"
      //   "button  button";
      grid-template-areas:
        "heading"
        "slider"
        "button";
    }

    @media #{$desktop} {
      width: 1420px;
      margin: 0 auto;
    }
  }

  .goods__inner::before {
    content: "";
    grid-area: slider;
    height: calc(100% - 40px);
    max-width: calc(100% - 10px * 2);
    border-radius: 10px;
    margin: 21px 10px 0;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.028));
    box-shadow: 0px 3px 50px 2px rgba(0, 0, 0, 0.06);
    pointer-events: none;

    @media (min-width: 420px) {
      width: calc((var(--goods-count, 1) * 343px) + ((var(--goods-count, 1) - 1) * 9px));
    }

    @media #{$tablet-desktop} {
      height: calc(100% - 44px);
      max-width: calc(100% - 15px * 2);
      margin: 25px 15px 0;
    }

    @media (min-width: 1280px) {
      width: calc(((100% - 3 * 9px - 2 * 15px) / 4) * var(--goods-count, 1) + ((var(--goods-count, 1) - 1) * 9px));
    }
  }


  .goods__heading {
    grid-area: heading;
    padding: 0 10px;
    margin-bottom: 0;

    @media #{$tablet-desktop} {
      padding-right: 15px;
      padding-left: 15px;
    }

    @media #{$desktop} {
      padding-left: 10px;
    }
  }

  .goods__slider.swiper {
    grid-area: slider;
    z-index: 2;
    max-width: 100%;
    padding: 0 0 200px;
    margin: 21px 10px -181px;
    visibility: hidden;

    @media #{$tablet-desktop} {
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 25px;
    }

    @media #{$desktop} {
      width: 1400px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .good {
    box-shadow: none;

    &:hover {
      box-shadow: 0px 3px 50px 2px rgba(0, 0, 0, 0.06);
    }
  }

  .goods__list.swiper-wrapper {
    display: flex;
    visibility: visible;
    row-gap: 0;
    column-gap: 0;
  }

  .goods__slider-buttons {
    grid-area: slider-arrows;
    z-index: 0;
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
    justify-content: center;
    visibility: hidden;

    @media #{$tablet-desktop} {
      margin-top: 5px;
      margin-right: 15px;
      grid-area: slider;
      margin: 0;
      align-items: center;
      justify-content: space-between;
      z-index: 3;
    }
  }

  .goods__slider-button-next,
  .goods__slider-button-prev {
    position: static;
    margin: 0;
    visibility: visible;
  }

  .goods__slider-button-next {
    transform: scale(-1, 1);
    will-change: transform;
  }

  .goods__button-wrapper {
    grid-area: button;
  }
}
