// Basic version

.goods__inner {
  padding: 0 14px;

  @media #{$desktop} {
    width: 1480px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.goods__heading {
  margin: 0 0 22px;

  @media #{$tablet-desktop} {
   margin-bottom: 40px;
  }
}

.goods__list {
  margin: 0;
}

.goods__button-wrapper {
  display: flex;
  padding: 0 14px;
  margin: 30px 0 0; // 40,

  @media #{$tablet-desktop} {
    padding: 0;
  }

  // @media #{$laptop-desktop} {
  //   margin-top: 50px;
  // }
}

.goods__button {
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;

  @media #{$tablet-desktop} {
    width: auto;
    min-width: 350px;
    margin: 0 auto;
  }
}

.goods__slider-buttons {
  display: none;
}

// Swiper version

.goods--swiper {
  .goods__inner {
    display: grid;
    width: auto;
    padding: 0;
    margin: 0;

    @media #{$tablet-desktop} {
      justify-content: center;
      grid-template-columns: 1fr auto;
      column-gap: 20px;
      grid-template-areas:
        "heading slider-arrows"
        "slider  slider"
        "button  button";
    }

    @media #{$desktop} {
      width: 1420px;
      margin: 0 auto;
    }
  }

  .goods__heading {
    padding: 0 10px;
    margin-bottom: 0;

    @media #{$tablet-desktop} {
      grid-area: heading;
      padding-right: 15px;
      padding-left: 15px;
    }

    @media #{$desktop} {
      padding-left: 10px;
    }
  }

  .goods__slider.swiper {
    z-index: 2;
    max-width: 100%;
    padding: 32px 10px 200px;
    margin: -11px 0 -181px;
    visibility: hidden;

    @media #{$tablet-desktop} {
      grid-area: slider;
      margin-right: 5px;
      margin-left: 5px;
      margin-top: -7px;
    }

    @media #{$desktop} {
      width: 1420px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .goods__list.swiper-wrapper {
    display: flex;
    visibility: visible;
    row-gap: 0;
    column-gap: 0;
  }

  .goods__slider-buttons {
    z-index: 0;
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
    justify-content: center;

    @media #{$tablet-desktop} {
      grid-area: slider-arrows;
      margin-top: 5px;
      margin-right: 15px;
    }

    @media #{$desktop} {
      margin-right: 10px;
    }
  }

  .goods__slider-button-next,
  .goods__slider-button-prev {
    position: static;
    margin: 0;
  }

  .goods__slider-button-next {
    transform: rotate(180deg);
  }

  .goods__button-wrapper {
    @media #{$tablet-desktop} {
      grid-area: button;
    }
  }
}
