.good-order-notification {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: grid;
  width: 100%;
  justify-content: center;
  transform: translate(-50%, -50%);

  @media #{$laptop-desktop} {
    width: auto;
  }
}

