.good {
  position: relative;
  display: grid;
  box-sizing: border-box;
  min-height: 100%;
  padding: 8px 8px 18px;
  border-radius: 10px;
  grid-template-rows: auto auto 1fr;
  row-gap: 12px;
  align-content: start;
  font-family: $basic-font-family;
  background-color: $background-color;
  filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.06));
}

.good__main {
  display: grid;
  padding: 3px 10px 8px;
  grid-template-columns: 1fr 23px;
  row-gap: 13px;
  column-gap: 2px;
  align-items: center;
  border-bottom: 1px solid $good-main-border-color;
}

.good__heading {
  grid-column: 1 / 2;
  margin: 0;
  font-family: $basic-font-family;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
}

.good__link {
  text-decoration: none;
  color: inherit;
}

.good__photo {
  order: -1;
  display: grid;
}

.good__photo-link {
  grid-area: 1 / 1 / 2 / 2;
  text-decoration: none;
}

.good__img-wrapper {
  display: block;
  width: 100%;
  height: 200px;
  margin: 0;

  @media #{$tablet-desktop} {
    height: 255px;
  }
}

.good__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
}

.good__like {
  grid-area: 1 / 2 / 3 / 3;
  margin: 0;
  width: 23px;
  height: 23px;
  transform: translate(10px, 11px);
}

.good__labels-list {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
  margin: 0 0 10px 10px;
}

.good__characteristics {
  grid-column: 1 / 2;
  max-width: 380px;
  margin: 0;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1;
  color: $weak-text-color;
}

.good__characteristics-value {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px 5px 0;
}

.good__characteristics-country {
  display: grid;
  margin: 0;
  grid-template-columns: auto 1fr;
  column-gap: 4px;
  align-items: center;
  font: inherit;
}

.good__characteristics-flag {
  order: -1;
  width: 15px;
  height: 12px;
  border-radius: 3px;
  object-fit: contain;
  object-position: center;
}

.good__extra {
  position: absolute;
  right: 0;
  bottom: 18px;
  left: 0;
  display: grid;
  padding: 0px 18px 18px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  grid-template-columns: 1fr auto;
  row-gap: 13px;
  column-gap: 20px;
  align-items: center;
  background-color: inherit;
  transform: translateY(100%);
}

.good__info {
  position: relative;
  display: grid;
  min-height: 47px;
  margin: 0 10px;
  row-gap: 9px;
  align-items: start;
}

.good__price-code {
  display: grid;
  width: 100%;
  padding: 0 120px 0 0;
  margin: 0;
  row-gap: 4px;
}

.good__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.good__price {
  margin: 4px 0;
  font: inherit;

  &--new {
    margin-right: 8px;
    color: $accent-color-2;
  }

  &--old {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
    color: $weak-text-color;
  }
}

.good__total-price-wrapper {
  display: none;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: $weak-text-color;
}

.good__code-wrapper {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: lowercase;
  color: $weak-text-color;
  word-break: break-all;
}

.good__code-button {
  vertical-align: middle;
  margin: 0 0 0 5px;
}

.good__add-cart {
  position: absolute;
  top: 0px;
  right: 0;
  min-width: 105px;
  min-height: 40px;
}

.good__remove-cart {
  position: absolute;
  top: 0px;
  right: 0;
  display: none;
  grid-auto-flow: column;
  min-height: 40px;
  padding: 9px;
  margin: 0;
  border: none;
  border-radius: 3px;
  column-gap: 10px;
  align-items: center;
  font-family: $basic-font-family;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: $special-color;
  background-color: rgba(66, 189, 152, 0.05);
  cursor: pointer;

  &::before {
    content: "";
    width: 18px;
    height: 13px;
    background-image: url("../img/icons/checkmark-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.good__remove-cart-hover-text {
  display: none;
}

.good:hover {
  @media #{$laptop-desktop} {
    .good__remove-cart-text {
      display: none;
    }

    .good__remove-cart-hover-text {
      display: inline;
    }
  }
}

.good__quick-order-button {
  justify-self: center;
  padding: 7px 10px 0;
  border: none;
  margin: 0;
  text-align: center;
  font-family: $basic-font-family;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: $special-color;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media #{$laptop-desktop} {
    display: none;
    width: 100%;
    min-height: 50px;
    padding: 8px 10px 6px;
    border: 1px solid $secondary-button-color;
    border-radius: 3px;
    color: $secondary-button-color;
    background-color: fade-out($special-color, 0.95);
  }
}

.good__radiobuttons {
  position: absolute;
  margin: 2px 0 0;
  display: none;
}

.good__radiobutton {
  margin: 0 2px 0 0;
}

.good__number-field {
  display: none;
  margin: 4px 0 0;
}

.good__form-wrapper {
  grid-column: 1 / 3;
  display: none;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  align-items: center;
}

.good__form-wrapper .form__textfield-wrapper {
  margin: 0;
}

.good__cancel-order {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: none;
  background-color: rgba(66, 189, 152, 0.1);
  background-image: url("../img/icons/popup-close.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.good__submit-order {
  display: none;
  grid-column: 1 / 3;
  margin: 5px 0 0;
}

.good__submit-text {
  display: none;
  grid-column: 1 / 3;
  padding: 10px;
  border-radius: 3px;
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  background-color: fade-out($special-color, 0.85);
  animation-name: fadeout;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@media #{$laptop-desktop} {
  .good:hover,
  .good:focus {
    .good__extra {
      padding-bottom: 86px;
    }

    .good__quick-order-button {
      position: absolute;
      z-index: 2;
      bottom: -18px;
      left: 0;
      display: block;
      transform: translateY(100%);
    }
  }
}

.good-list__item .good.good--in-cart:not(.good--quick-order) {
  .good__price-code {
    padding-right: 124px;
  }

  .good__total-price-wrapper {
    display: block;
  }

  .good__code-wrapper {
    display: none;
  }

  .good__add-cart {
    display: none;
  }

  .good__remove-cart {
    display: grid;
  }

  @media #{$mobile-tablet} {
      .good__radiobuttons {
        display: flex;
        z-index: 1;
        bottom: 22px;
        left: 0;
        transform: translateY(100%);
      }

      .good__number-field {
        position: absolute;
        top: 2px;
        right: 18px;
        display: grid;
        transform: translateY(-100%);
      }

      .good__quick-order-button {
        z-index: 2;
        transform: translateY(40px);
      }

      .good__extra {
        padding-bottom: 58px;
      }
  }

  @media #{$laptop-desktop} {
    .good__quick-order-button {
      display: none !important;
    }

    .good__number-field {
      grid-column: 2 / 3;
    }

    .good__radiobuttons {
      z-index: 1;
      bottom: -19px;
      left: 0;
      transform: translateY(100%);
    }

    &:hover,
    &:focus {
      .good__extra {
        padding-top: 13px;
        padding-bottom: 17px;
      }

      .good__radiobuttons {
        display: flex;
      }

      .good__number-field {
        display: grid;
      }
    }
  }
}

.good-list__item .good.good--quick-order {
  .good__price-code {
    padding-right: 160px;
  }

  .good__total-price-wrapper {
    display: block;
  }

  .good__code-wrapper {
    display: none;
  }

  .good__add-cart {
    display: none;
  }

  .good__remove-cart {
    display: none;
  }

  .good__radiobuttons {
    position: absolute;;
    top: 0px;
    right: -2px;
    display: flex;
    margin: 0;
  }

  .good__quick-order-button {
    display: none !important;
  }

  .good__number-field {
    grid-column: 1 / 3;
    margin-top: 0;
    margin-bottom: 2px
  }

  &:hover,
  &:focus {
    .good__extra {
      padding-top: 15px;
      padding-bottom: 18px;
      row-gap: 10px;
    }

    .good__number-field {
      display: grid;
    }

    .good__form-wrapper {
      display: grid;
    }

    .good__submit-order {
      display: grid;
    }
  }

  @media #{$mobile-tablet} {
    .good__extra {
      padding-top: 15px;
      padding-bottom: 18px;
      row-gap: 10px;
    }

    .good__number-field {
      display: grid;
    }

    .good__form-wrapper {
      display: grid;
    }

    .good__submit-order {
      display: grid;
    }
  }
}

@media #{$mobile-tablet} {
  @for $i from 1 to 40 {
    .good.good--quick-order:nth-child(#{$i}),
    .good.good.good--in-cart:nth-child(#{$i}) {
      z-index: 45 - $i;
    }
  }
}
