.good-list {
  display: grid;
  padding: 0;
  row-gap: 10px;
  column-gap: 8px;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(289px, 1fr));

  @media #{$tablet-desktop} {
    row-gap: 20px;
  }
}

.good-list__item {
  margin: 0;

  &:hover,
  &:focus {
    z-index: 2;
  }
}

.good-list__item.swiper-slide {
  @media (min-width: 420px) {
    width: 343px;
  }

  @media #{$laptop-desktop} {
    width: auto;
  }
}
