.good-list {
  display: grid;
  padding: 0;
  row-gap: 10px;
  column-gap: 10px;
  list-style: none;

  @media (min-width: 716px) {
    grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
  }

  @media #{$tablet-desktop} {
    row-gap: 20px;
  }
}

.good-list__item {
  margin: 0;

  &:hover {
    z-index: 2;
  }
}
