.good-range__title {
  margin: 0 0 20px 0;

  @media #{$laptop-desktop} {
    margin: 0 0 25px 0;
  }
}

.good-range__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
  margin: 0;
  padding: 0;
  list-style: none;
  filter: drop-shadow(0px 18px 40px $good-range-shadow-color) drop-shadow(0px 0px 0px $good-range-shadow-color) drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.06));

  @media #{$tablet-desktop} {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    filter: drop-shadow(0px 18px 40px $good-range-shadow-color);
  }

  @media #{$laptop-desktop} {
    grid-template-columns: repeat(4, 1fr);
  }
}

.good-range__item {
  position: relative;
  margin: 0;

  &:nth-child(odd) {
    filter: drop-shadow(0px 18px 40px $good-range-shadow-color) drop-shadow(0px 0px 0px $good-range-shadow-color) drop-shadow(0px 3px 25px $good-range-shadow-color);

    @media #{$tablet-desktop} {
      filter: none;
    }
  }
}

.good-range__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 10px 15px;
  box-sizing: border-box;

  @media #{$narrow-mobile} {
    padding: 12px 20px 15px;
  }

  @media #{$laptop-desktop} {
    flex-direction: row;
    justify-content: flex-start;
    padding: 18px 14px;
  }
}

.good-range__sale {
  display: none;
  position: absolute;
  top: 21px;
  left: 190px;

  @media #{$laptop-desktop} {
    display: initial;
  }
}
