.good-info {
  border-top: 1px solid $good-info-border-color;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 20px;

  @media #{$tablet-desktop} {
    font-size: 16px;
    line-height: 24px;
  }
}

.good-info__container {
  @media #{$laptop-desktop} {
    display: grid;
    padding: 0 15px;
    margin: 0 auto;
    grid-template-columns: 1fr 369px;
    column-gap: 100px;
  }

  @media #{$desktop} {
    display: grid;
    width: 1480px;
    padding: 0 40px;
    margin: 0 auto;
    grid-template-columns: 1fr 450px;
    column-gap: 100px;
  }
}

.good-info__taber {
  @media #{$tablet-desktop} {
    margin: 0 0 20px;
  }

  @media #{$laptop-desktop} {
    grid-area: 1 / 1 / 2 / 3;
    margin: 0 0 28px;
  }
}

.good-info__tab-buttons-wrapper {
  margin: 0 0 21px 10px;

  @media #{$tablet-desktop} {
    margin-left: 15px;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 41px;
    margin-left: 0;
  }
}

.good-info__tab-buttons-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.good-info__taber .good-info__tab-buttons-item {
  width: auto;
}

.good-info__tab-buttons-link {
  display: block;
  padding: 24px 11px 21px 10px;
  color: currentColor;

  @media #{$tablet-desktop} {
    padding: 24px 7px 21px 24px;
  }

  @media #{$laptop-desktop} {
    padding: 24px 12px 21px 29px;
  }
}

.good-info__tab-buttons-item.swiper-slide-thumb-active .good-info__tab-buttons-link {
  position: relative;
  font-weight: 500;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: currentColor;

    @media #{$laptop-desktop} {
      right: -9px;
    }
  }
}

.good-info .good-info__tabs-wrapper {
  padding: 0 10px;

  @media #{$tablet-desktop} {
    padding-right: 30px;
    padding-left: 15px;
  }

  @media #{$laptop-desktop} {
    width: 725px;
    padding: 0;
    margin-left: 0;
  }

  @media #{$desktop} {
    padding: 0;
    margin: 0
  }
}

.good-info__tabs-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.good-info__tabs-content p {
  margin: 0 0 20px;
}

.good-info__tel {
  color: currentColor;
}

.good-info__img-column {
  display: none;

  @media #{$laptop-desktop} {
    grid-area: 1 / 2 / 3 / 3;
    display: block;
    margin: 105px 0 0;
  }
}

.good-info__img-wrapper {
  display: block;
  width: 369px;
  height: 369px;

  @media #{$desktop} {
    width: 450px;
    height: 450px;
  }
}

.good-info__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

.good-info__footer {
  padding: 43px 10px 30px;

  @media #{$tablet-desktop} {
    display: grid;
    padding: 20px 15px;
    grid-template-columns: 53% 1fr;
    column-gap: 40px;
    align-items: center;
  }

  @media #{$laptop-desktop} {
    padding: 12px 0;
    grid-template-columns: 1fr 44.5%;
    column-gap: 40px;
    align-items: center;
  }

  @media #{$desktop} {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 783px;
    padding: 0;
  }
}

.good-info__socials {
  margin: 0;

  @media #{$tablet-desktop} {
    margin-top: 8px;
  }

  @media #{$desktop} {
    margin-top: 15px;
  }
}
