.good-reviews__button-wrapper {
  display: flex;
  margin: 0 0 20px;
  flex-wrap: wrap;

  &--hidden {
    display: none;
  }
}

.good-reviews__button {
  min-width: 220px;
}

.good-reviews__form {
  margin: 10px 0 30px;

  &--hidden {
    display: none;
  }
}

.good-reviews__list {
  max-width: 900px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.good-reviews__item {
  margin: 0;
}
