.heading {
  font-family: $accent-font-family;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;

  @media #{$laptop-desktop} {
    font-size: 36px;
    line-height: 54px;
  }
}

.heading--big {
  // @media #{$tablet-desktop} {
  //   font-size: 48px;
  //   line-height: 54px;
  // }
}

.heading--small {
  @media #{$laptop-desktop} {
    font-size: 24px;
    line-height: 31px;
  }
}
