.links {
  position: relative;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.3;

  @media #{$tablet-desktop} {
    font-size: 16px;
  }
}

.links__list {
  display: none;
  box-sizing: border-box;
  max-width: 375px;
  padding: 20px;
  margin: 0;
  list-style: none;
  border: 1px solid $links-list-border-color;
  border-radius: 3px;
  row-gap: 15px;
  background-color: $background-color;
  box-shadow: 0px 290px 116px rgba(0, 0, 0, 0.01), 0px 163px 98px rgba(0, 0, 0, 0.04), 0px 72px 72px rgba(0, 0, 0, 0.06), 0px 18px 40px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);

  @media #{$tablet-desktop} {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    max-width: none;
    height: 1em;
    padding: 17px 11px 18px 11px;
    grid-template-columns: repeat(a);
    column-gap: 18px;
    justify-content: space-between;
    overflow: hidden;
  }

  @media #{$laptop-desktop} {
    padding-right: 31px;
    padding-left: 31px;
  }
}

.links__item {
  margin: 0;
  font: inherit;

  @media #{$tablet-desktop} {
    margin-right: 9px;
    margin-left: 9px;
  }
}

.links__link {
  font: inherit;
  color: inherit;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.links__toggle {
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: start;
  align-content: center;
  border: none;
  font-family: $basic-font-family;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;

  &::after {
    content: "";
    width: 19px;
    height: 19px;
    background-image: url("../img/icons/drop-down-list-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media #{$tablet-desktop} {
    display: none;
  }
}

.links--open {
  .links__toggle::after {
    transform: rotate(180deg);
  }

  .links__list {
    @media #{$mobile} {
      position: absolute;
      bottom: -8px;
      left: 0;
      display: grid;
      width: 100%;
      transform: translateY(100%);
    }
  }
}
