// .loader {
//   color: transparent !important;
//   background-image: url("../img/icons/loader.svg");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: auto 60%;
// }

.loader {
  position: relative;
  color: transparent !important;

}

.loader__img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: auto;
  height: 60%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.loader .loader__img {
  display: block;
}
