.logos__list {
  display: flex;
  padding: 0;
  margin: 0 -14px;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.logos__item {
  margin: 0 14px 28px;
}

.logos__item * {
  display: block;
  max-height: 80px;
  width: auto;
}
