.main-page__our-advantages,
.main-page__good-range {
  margin-bottom: 40px;

  @media #{$tablet-desktop} {
    margin-bottom: 60px;
  }
}

.main-page__inspo {
  margin-bottom: 60px;

  @media #{$laptop-desktop} {
    margin-bottom: 89px;
  }
}

.main-page__projects {
  margin-bottom: 60px;

  @media #{$laptop-desktop} {
    margin-bottom: 100px;
  }
}
