.material {
  font-size: 16px;
  line-height: 1.3;
}

.material__link {
  display: grid;
  row-gap: 23px;
  color: $basic-text-color;
}

.material__heading {
  margin: 0;
  font-family: $accent-font-family;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: none;
}

.material__price-wrapper {
  margin: 11px 0 0;
  font: inherit;
}

.material__img-wrapper {
  order: -1;
  display: block;
  width: 100%;
  height: 100%;
}

.material__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.material__slider-item {
  margin: 0;
}

.material__slider-img-wrapper {
  display: block;
}

.material__slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.material--alter {
  font-size: 14px;
  line-height: 18px;

  .material__link {
    row-gap: 14px;
  }

  .material__heading {
    text-align: center;
    font-family: $basic-font-family;
    font-size: 14px;
    line-height: 18px;
  }

  .material__img-wrapper {
    height: 150px;
  }
}

.material--big {
  display: grid;
  row-gap: 23px;

  @media #{$desktop} {
    font-size: 24px;
    row-gap: 90px;
  }

  .material__slider {
    order: -1;
    width: 100%;
    max-width: 375px;
    padding: 0 107px;

    @media #{$tablet-desktop} {
      max-width: 600px;
      padding: 0 70px;
    }

    @media #{$desktop} {
      max-width: 800px;
      padding-right: 100px;
      padding-left: 100px;
    }
  }

  .material__slider-img-wrapper {
    @media #{$mobile} {
      height: 160px;
      margin: 0 auto;
    }
  }

  .material__slider-button {
    background-color: $background-secondary-color;
  }

  .material__text-content {
    padding: 0 16px;

    @media #{$mobile-tablet} {
      text-align: center;
    }
  }

  .material__heading {
    @media #{$desktop} {
      font-size: 48px;
      line-height: 1.2;
      letter-spacing: -0.03em;
    }
  }

  .material__price-wrapper {
    @media #{$desktop} {
      margin-top: 20px;
    }
  }
}
