.materials-slider {
  max-width: 100%;

  @media #{$mobile-tablet} {
    text-align: center;
  }
}

.materials-slider__item {
  display: grid;
  align-content: center;
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
}

.materials-slider__heading {
  padding: 0 14px;
  margin: 0 0 11px;
  font-family: $accent-font-family;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: none;

  @media #{$tablet-desktop} {
    padding: 0 30px;
  }

  @media (min-width: 960px) {
    padding: 0 50px;
  }

  @media #{$laptop-desktop} {
    padding: 0 60px;
  }

  @media #{$wide-desktop} {
    padding: 0 90px;
    margin-bottom: 14px;
    font-size: 33px;
    line-height: 43px;
    letter-spacing: -0.02em;
  }
}

.materials-slider__price-wrapper {
  padding: 0 14px;
  margin: 0;
  font: inherit;

  @media #{$tablet-desktop} {
    padding: 0 30px;
  }

  @media (min-width: 960px) {
    padding: 0 50px;
  }

  @media #{$laptop-desktop} {
    padding: 0 60px;
  }

  @media #{$wide-desktop} {
    padding: 0 90px;
  }
}

.materials-slider__img-wrapper {
  position: relative;
  order: -1;
  display: grid;
  width: 160px;
  height: 160px;
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto 20px;

  &::before {
    content: "";
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    padding: 50% 0;
  }

  @media #{$tablet-desktop} {
    align-self: end;
    width: 168px;
    height: 168px;
  }

  @media (min-width: 860px) {
    width: 250px;
    height: 250px;
  }

  @media (min-width: 960px) {
    width: 350px;
    height: 350px;
  }

  @media #{$wide-desktop} {
    width: 550px;
    height: 550px;
    margin-bottom: 30px;
  }
}

.materials-slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.materials-slider__button {
  top: calc(50% - 19px);
  background-color: $background-secondary-color;
}

.materials-slider__button.swiper-button-prev {
  @media #{$widemobile-desktop} {
    right: auto;
    left: calc(50% - 180px);
  }

  @media #{$tablet-desktop} {
    left: calc(50% - 164px);
  }

  @media (min-width: 860px) {
    left: calc(50% - 200px);
  }

  @media (min-width: 960px) {
    left: calc(50% - 250px);
  }

  @media #{$wide-desktop} {
    left: calc(50% - 360px);
  }
}

.materials-slider__button.swiper-button-next {
  @media #{$widemobile-desktop} {
    left: auto;
    right: calc(50% - 180px);
  }

  @media #{$tablet-desktop} {
    right: calc(50% - 164px);
  }

  @media (min-width: 860px) {
    right: calc(50% - 200px);
  }

  @media (min-width: 960px) {
    right: calc(50% - 250px);
  }

  @media #{$wide-desktop} {
    right: calc(50% - 360px);
  }
}
