.n-advantages {
  font-family: $accent-font-family;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.03em;

  @media #{$tablet-desktop} {
    font-size: 24px;
  }
}

.n-advantages__list {
  position: relative;
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  @media #{$tablet-desktop} {
    gap: 15px;
  }

  @media #{$laptop-desktop} {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.n-advantages__item {
  margin: 0;
  font: inherit;

  @media #{$laptop-desktop} {
    position: relative;
  }
}

.n-advantages__name {
  position: relative;
  display: flex;
  height: 100%;
  padding: 14px 26px 10px 10px;
  border-radius: 10px;
  margin: 0;
  align-items: center;
  margin: 0;
  font: inherit;
  background-color: $n-advantages-item-background-color;
  cursor: pointer;

  @media #{$tablet-desktop} {
    padding: 20px 32px 20px 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 6px;
    width: 15px;
    height: 15px;
    background-color: $weak-text-color;
    mask-image: url("../img/icons/note-icon.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    @media #{$tablet-desktop} {
      top: 10px;
      right: 10px;
    }
  }
}

.n-advantages__info {
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 50%;
  display: none;
  width: 100%;
  max-width: 395px;
  padding: 30px;
  border-radius: 10px;
  row-gap: 20px;
  font-family: $basic-font-family;
  background-color: $background-color;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.06);
  transform: translate(-50%, -100%);

  @media #{$laptop-desktop} {
    top: -25px;
    width: 395px;
  }
}

.n-advantages__img-wrapper {
  display: block;
  width: 100%;
  height: 95px;
}

.n-advantages__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.n-advantages__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
}

.n-advantages__name:hover + .n-advantages__info {
  display: grid;
}

.n-advantages__item:first-child .n-advantages__info {
  @media #{$laptop-desktop} {
    left: 0;
    transform: translate(0, -100%);
  }
}

.n-advantages__item:last-child .n-advantages__info {
  @media #{$laptop-desktop} {
    right: 0;
    left: auto;
    transform: translate(0, -100%);
  }
}

.n-advantages__br--mobile {
  @media #{$tablet-desktop} {
    display: none;
  }
}

.n-advantages__br--tablet-desktop {
  @media #{$mobile} {
    display: none;
  }
}

.n-advantages--alter {
  font-family: $basic-font-family;
  font-size: 13px;
  letter-spacing: 0;
  color: $accent-text-color;

  @media #{$tablet-desktop} {
    font-size: 14px;
  }

  .n-advantages__list {
    gap: 5px;

    @media #{$tablet-desktop} {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 10px;
      column-gap: 8px;
    }

    @media #{$laptop-desktop} {
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
    }
  }

  .n-advantages__name {
    padding: 15px 20px 12px 10px;

    @media #{$tablet-desktop} {
      padding: 18px 20px 14px 17px;
    }
  }
}

.n-advantages--colourful {
  .n-advantages__item:nth-child(5n - 4) .n-advantages__name {
    background-color: $n-advantages-item-background-color-1;
  }

  .n-advantages__item:nth-child(5n - 3) .n-advantages__name {
    background-color: $n-advantages-item-background-color-2;
  }

  .n-advantages__item:nth-child(5n - 2) .n-advantages__name {
    background-color: $n-advantages-item-background-color-3;
  }

  .n-advantages__item:nth-child(5n - 1) .n-advantages__name {
    background-color: $n-advantages-item-background-color-4;
  }

  .n-advantages__item:nth-child(5n) .n-advantages__name {
    background-color: $n-advantages-item-background-color-5;
  }
}
