.n-cart {
  background-color: $n-cart-form-wrapper-background-color;
}

.n-cart__inner {
  padding: 16px 0 0;

  @media #{$cart-desktop} {
    padding-bottom: 200px;
  }
}

.n-cart__form-wrapper {
  @media #{$tablet-desktop} {
    padding: 0 15px;
  }

  @media #{$cart-desktop} {
    width: 1420px;
    padding: 0 40px;
    margin: 0 auto;
  }
}



