.n-cart {
  background-color: $n-cart-form-wrapper-background-color;
}

.n-cart__inner {
  padding: 20px 0;

  @media #{$laptop-desktop} {
    padding-bottom: 120px;
  }
}

.n-cart__form-wrapper {
  @media #{$laptop-desktop} {
    padding: 0 40px;
  }

  @media #{$cart-desktop} {
    width: 1324px;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
  }
}
