.n-collection-list {
  display: grid;
  padding: 0 0 35px;
  list-style: none;
  row-gap: 45px;
  column-gap: 9px;
  grid-template-columns: repeat(auto-fill, minmax(289px, 1fr));

  @media #{$tablet-desktop} {
    row-gap: 55px;
  }
}

.n-collection-list__item {
  position: relative;
  margin: 0;

  &:hover,
  &:focus {
    z-index: 2;
  }
}
