.n-collection-list {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  list-style: none;

  @media (min-width: 716px) {
    grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
  }

  @media #{$tablet-desktop} {
    row-gap: 20px;
  }
}

.n-collection-list__item {
  position: relative;
  height: 433px;
  margin: 0;

  @media #{$widemobile-desktop} {
    height: 412px;
  }

  &:hover,
  &:focus {
    z-index: 2;
  }
}
