.n-collection-list {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  padding: 0 10px;
  list-style: none;

  @media (min-width: 716px) {
    grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
  }

  @media #{$tablet-desktop} {
    padding: 0 15px;
    row-gap: 20px;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    width: 1480px;
    padding: 0 39px;
    margin: 0 auto;
  }
}

.n-collection-list__n-collection {
  height: 100%;
}

.n-collection-list__item {
  position: relative;
  margin: 0;

  &:hover,
  &:focus {
    z-index: 2;
    height: 433px;

    .n-collection-list__n-collection {
      height: auto;
    }
  }

  @media #{$widemobile-desktop} {
    &:hover,
    &:focus {
      height: 412px;

      .n-collection-list__n-collection {
        height: auto;
      }
    }
  }
}
