.n-service__title {
  margin: 0 0 20px 0;

  @media #{$laptop-desktop} {
    margin-bottom: 30px;
  }
}

.n-service__swiper {
  filter: drop-shadow(0px 18px 15px rgba(0, 0, 0, 0.07));
}

.n-service__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.n-service__item {
  margin: 0;
  width: 290px;
  height: auto;

  @media #{$tablet-desktop} {
    min-width: 232px;
  }

  @media #{$laptop-desktop} {
    min-width: 389px;
  }

  @media #{$desktop} {
    width: 454px;
  }
}

.n-service__link {
  display: grid;
  height: 100%;
  border-radius: 10px;
  align-content: start;
  color: $basic-text-color;
  background: $background-color;
  overflow: hidden;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.n-service__image {
  display: block;
  width: 100%;
  height: 120px;
}

.n-service img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.n-service__category {
  order: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 13px 5px;

  @media #{$tablet-desktop} {
    padding: 13px 10px 10px;
  }

  @media #{$laptop-desktop} {
    padding: 20px 20px 14px;
  }
}

.n-service__category-title {
  margin: 0 0 1px 0;
  font-family: $additional-font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;

  @media #{$tablet-desktop} {
    margin: 0 0 6px 0;
    font-size: 14px;
  }

  @media #{$laptop-desktop} {
    margin: 0 0 5px 0;
    font-size: 16px;
  }

  @media #{$laptop-desktop} {
    font-size: 18px;
  }
}

.n-service__category-text {
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
  color: $weak-text-color;
  margin: 0;

  @media #{$narrowlaptop-desktop} {
    font-size: 16px;
    line-height: 21px;
  }
}

.n-service__break {
  display: none;

  @media #{$tablet-desktop} {
    display: initial;
  }

  @media #{$laptop-desktop} {
    display: none;
  }
}
