.n-subscribe {
  background-color: $subscribe-background-color;

  @media #{$tablet-desktop} {
    background-color: transparent;
  }
}

.n-subscribe__wrapper {
  padding: 42px 0 40px;

  @media #{$tablet-desktop} {
    display: grid;
    grid-template-areas: 'logo texts'
                          'form form';
    grid-template-columns: max-content 1fr;
    background-color: $subscribe-background-color;
    border-radius: 10px;
    padding: 40px 43px;
  }

  @media #{$laptop-desktop} {
    grid-template-areas: 'logo texts form';
    padding: 40px 43px 65px 40px;
  }

  @media #{$desktop} {
    grid-template-columns: max-content 1fr auto;
    padding: 66px 94px 65px 67px;
  }
}

.n-subscribe__logo {
  display: block;
  width: 62px;
  height: 55px;
  margin-bottom: 20px;

  @media #{$tablet-desktop} {
    grid-area: logo;
    width: 121px;
    height: 109px;
    margin: 10px 39px 0 0;
  }

  @media #{$laptop-desktop} {
    margin: 11px 39px 0 0;
  }
}

.n-subscribe__logo img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.n-subscribe__text-wrapper {
  margin: 0 0 20px 0;

  @media #{$tablet-desktop} {
    justify-self: left;
    grid-area: texts;
    margin: 0 0 37px 0;
  }

  @media #{$laptop-desktop} {
    justify-self: left;
    margin: 0;
  }
}

.n-subscribe__headline {
  margin: 0 0 10px 0;
}

.n-subscribe__list {
  margin: 0;
}

.n-subscribe__item {
  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;

  @media #{$tablet-desktop} {
    font-size: 14px;
    margin: 0 0 2px 0;
  }
}

.n-subscribe__form-wrapper {
  @media #{$tablet-desktop} {
    grid-area: form;
    margin: 0 80px;
  }

  @media #{$laptop-desktop} {
    justify-self: right;
    width: 420px;
    margin: 12px 0 0 0;
  }
}

.n-subscribe__form-title {
  margin: 0 0 20px 0;
  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0;
  text-transform: none;

  @media #{$tablet-desktop} {
    font-size: 18px;
  }
}

.n-subscribe__form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  align-items: start;
  border-bottom: 1px solid $custom-table-header-border-color;

  &:focus-within {
    border-bottom: 1px solid $subscribe-form-focus-color;
  }
}

.n-subscribe__form-label {
  display: block;
  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: $basic-text-color;
}

.n-subscribe__form-input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  background-color: transparent;

  @media #{$tablet-desktop} {
    padding: 0 0 20px 0;
  }
}

.n-subscribe__submit {
  align-self: start;
  width: 19px;
  height: 14px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/black-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
