.news-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.news-card__headline {
  margin: 0 20px 10px 0;
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: $basic-text-color;
  text-transform: none;
  letter-spacing: 0;
}

.news-card__date {
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: $weak-text-color;
}

.news-card__image {
  order: -1;
  display: block;
  max-width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.news-card__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
