.number-field {
  display: grid;
  grid-template-columns: 20px auto 20px;
  justify-content: center;
}

.number-field__control {
  width: 50px;
  min-width: 50px;
  max-width: 130px;
  padding: 2px 4px 0;
  border: none;
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}

.number-field__button {
  position: relative;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
  }

  &--minus {
    order: -1;
    background-image: url("../img/icons/button-minus-icon.svg");
  }

  &--plus {
    background-image: url("../img/icons/button-plus-icon.svg");
  }
}

.number-field--big .number-field__control {
  font-size: 24px;
  line-height: 28px;
}

.number-field--wide .number-field__control {
  min-width: 78px;
  max-width: 110px;
}

.number-field--wide-2 .number-field__control {
  min-width: 66px;
  max-width: 76px;
}

.number-field--alter .number-field__control {
  @media #{$tablet-desktop} {
    font-size: 24px;
    line-height: 28px;
  }
}

.number-field__button--alter {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: $number-field-button-alter-background-color;
  background-position: center;

  @media #{$cart-tablet} {
    background-color: transparent;
  }
}

.number-field__button--alter.number-field__button--minus {
  background-size: 16px 1px;
}

.number-field--alter-2 {
  padding-right: 4px;
}

// .number-field__button--alter::before {
//   background-color: $number-field-button-alter-background-color;
// }

// .number-field__button--alter.number-field__button--plus::before {
//   background-image: url("../img/icons/button-plus-icon.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .number-field__button--alter.number-field__button--minus::before {
//   background-image: url("../img/icons/button-minus-icon.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }
