.offers {
 position: relative;
 padding: 0 0 52px;

 @media #{$laptop-desktop} {
  padding-bottom: 40px;
 }

  @media #{$desktop} {
    padding-bottom: 65px;
 }
}

.offers__list {
  margin: 0;
  padding: 0;
}

.offers__item {
  margin: 0;
}

.offers__controls {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 10px;
  left: 10px;

  @media #{$tablet-desktop} {
    right: 30px;
    left: 30px;
  }

  @media #{$laptop-desktop} {
    right: 50px;
    left: 50px;
  }

  @media #{$desktop} {
    right: 0;
    left: 0;
  }
}

.offers__tabs-wrapper {
  position: relative;

  @media #{$desktop} {
    width: 1400px;
    margin: 0 auto;
  }
}

.offers__button-prev,
.offers__button-next {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  will-change: transform;

  @media #{$laptop-desktop} {
    top: -30px;
  }
}

.offers__button-prev {
  left: 5px;
  right: auto;
  width: 38px;
  height: 38px;
  transform: translateY(-50%) rotate(180deg);
  will-change: transform;

  @media #{$tablet-desktop} {
    left: 0px;
    transform: translate(-50%, -50%) rotate(180deg);
    will-change: transform;
  }

  @media #{$laptop-desktop} {
    right: 8px;
    left: auto;
    transform: translate(-100%, -100%) rotate(180deg);
    will-change: transform;
  }
}

.offers__button-next {
  left: auto;
  right: 5px;
  width: 38px;
  height: 38px;

  @media #{$tablet-desktop} {
    right: 0;
    transform: translate(50%, -50%);
    will-change: transform;
  }

  @media #{$laptop-desktop} {
    transform: translateY(-100%);
    will-change: transform;
  }
}

.offers__tabs-pagination {
  margin: 3px 0 0;
  text-align: center;

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 3px;
    background-color: $tabs-pagination-bullet-color;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $special-color;
  }

  @media #{$laptop-desktop} {
    display: none;
  }
}
