.offers {
 position: relative;
 padding: 0 0 52px;

 @media #{$laptop-desktop} {
  padding-bottom: 40px;
 }

  @media #{$desktop} {
    padding-bottom: 65px;
 }
}

.offers__slider {

}

.offers__list {
  margin: 0;
}

.offers__item {
  margin: 0;
}

// .offers__controls {
//   margin: 0 10px;
//   border: 1px solid $offers-tabs-border-color;
//   border-radius: 18px;
//   background-color: $background-color;
//   filter: drop-shadow(0px 290px 116px rgba(0, 0, 0, 0.01)) drop-shadow(0px 163px 98px rgba(0, 0, 0, 0.04)) drop-shadow(0px 72px 72px rgba(0, 0, 0, 0.06)) drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.07)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.07));

//   @media #{$tablet-desktop} {
//     filter: drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.07)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.07));
//   }
// }

.offers__controls {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 10px;
  left: 10px;

  @media #{$tablet-desktop} {
    right: 30px;
    left: 30px;
  }

  @media #{$laptop-desktop} {
    right: 50px;
    left: 50px;
  }

  @media #{$desktop} {
    right: 0;
    left: 0;
  }
}

.offers__tabs-wrapper {
  position: relative;

  @media #{$desktop} {
    width: 1400px;
    margin: 0 auto;
  }
}

.offers__button-prev,
.offers__button-next {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);

  @media #{$laptop-desktop} {
    display: none;
  }
}

.offers__button-prev {
  left: 5px;
  right: auto;
  transform: translateY(-50%) rotate(180deg);

  @media #{$tablet-desktop} {
    left: 0px;
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.offers__button-next {
  left: auto;
  right: 5px;

  @media #{$tablet-desktop} {
    right: 0;
    transform: translate(50%, -50%);
  }
}

.offers__tabs-pagination {
  margin: 3px 0 0;
  text-align: center;

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 3px;
    background-color: $tabs-pagination-bullet-color;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $special-color;
  }

  @media #{$desktop} {
    width: 1400px;
    margin: 0 auto;
  }
}
