.our-advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media #{$tablet-desktop} {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8px;
    column-gap: 10px;
  }

  @media #{$laptop-desktop} {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
  }
}

.our-advantages__item {
  position: relative;
  margin: 0;
  padding: 13px 15px 13px 10px;

  &::after {
    position: absolute;
    content: "";
    top: 7px;
    right: 7px;
    width: 15px;
    height: 15px;
    background: url(../img/icons/info-icon.svg) no-repeat center;
  }

  @media #{$tablet-desktop} {
    padding: 17px 20px;
  }

  @media #{$desktop} {
    padding: 17px 20px;
  }
}
