.our-advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media #{$tablet-desktop} {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8px;
    column-gap: 10px;
  }

  @media #{$laptop-desktop} {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
  }
}

.our-advantages__list--big {
  gap: 8px;

  @media #{$narrowlaptop-desktop} {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

  .our-advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 27px 15px 10px;

    @media #{$narrowlaptop-desktop} {
      padding: 19px 20px;
    }
  }

  .our-advantages__item::after {
    right: 9px;

    @media #{$desktop} {
      top: 12px;
    }
  }
}

.our-advantages__item {
  position: relative;
  margin: 0;
  padding: 13px 15px 13px 10px;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 7px;
    right: 7px;
    width: 15px;
    height: 15px;
    background: url(../img/icons/info-icon.svg) no-repeat center;
  }

  @media #{$tablet-desktop} {
    padding: 17px 20px;
  }

  @media #{$desktop} {
    padding: 17px 20px;
  }
}

.our-advantages__item:first-child {
  .advantages-item__info {
    @media #{$laptop-desktop} {
      transform: translate(0, -100%);
    }
  }
}

.our-advantages__item:last-child {
  .advantages-item__info {
    @media #{$laptop-desktop} {
      left: auto;
      right: 0;
      transform: translate(0, -100%);
    }
  }
}
