.page-body__good-info {
  margin: 0 0 31px;

  @media #{$tablet-desktop} {
    margin-bottom: 4px;
  }

  @media #{$laptop-desktop} {
    margin: 0 0 88px;
  }

  @media #{$desktop} {
    margin: 0 0 47px;
  }
}

.page-body__good-card {
  margin: 0 0 17px;

  @media #{$tablet-desktop} {
    margin-bottom: 14px;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 64px;
  }

  @media #{$desktop} {
    margin-bottom: 46px;
  }
}

.page-body__advantages {
  margin-bottom: 40px;

  @media #{$tablet-desktop} {
    margin-bottom: 60px;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 80px;
  }

  @media #{$desktop} {
    margin-bottom: 60px;
  }
}

.page-body__advantages--alter {
  margin-bottom: 64px;

  @media #{$tablet-desktop} {
    margin-bottom: 43px;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 60px;
  }
}

.page-body__collection-examples {
  margin: 0 0 17px;

  @media #{$tablet-desktop} {
    margin-bottom: 4px;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 31px;
  }

  @media #{$desktop} {
    margin-bottom: 32px;
  }
}

.page-body__collection-list {
  margin-bottom: 50px;

  @media #{$tablet-desktop} {
    margin-bottom: 10px;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 13px;
  }

  @media #{$desktop} {
    margin-bottom: 40px;
  }
}

.page-body__collection-card {
  margin: 0;

  @media #{$tablet-desktop} {
    margin-bottom: 20px;
  }
}

.page-body__section-header {
  margin: 57px 0 42px;
}

.page-body__catalog {
  max-width: 100%;
  margin-bottom: 73px;
}


