.page-page .s-popular {
  @media #{$laptop-desktop} {
    margin-bottom: -168px;
  }

  @media #{$desktop} {
    margin-bottom: -235px;
  }
}

.page-page .s-popular .next {
  @media #{$laptop-desktop} {
    right: 0;
  }

  @media #{$desktop} {
    right: -30px;
  }
}

.page-page .s-popular .prev {
  @media #{$laptop-desktop} {
    left: 0;
  }

  @media #{$desktop} {
    left: -30px;
  }
}

.page-page .s-popular .more__title {
  text-align: center;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;

  @media #{$laptop-desktop} {
    text-align: left;
    font-size: 36px;
    line-height: 54px;
  }
}

.page-page .product-img__carousel .item {
  height: 320px;

  @media #{$widemobile-desktop} {
    height: 375px;
  }

  @media #{$tablet-desktop} {
    height: 538px;
  }

  @media #{$laptop-desktop} {
    height: 730px;
  }

  @media #{$desktop} {
    height: 870px;
  }
}

.page-page .product-img__carousel .item img {
  object-position: center;
}

.page-page .swiper-button-prev,
.page-page .swiper-button-next {
  cursor: pointer;
}

.page-page .card__button {
  flex-grow: 1;
  align-self: stretch;
}

.page-page .card__btn {
  align-self: stretch;
  height: auto;
  min-height: 40px;
  border-radius: 3px;
  flex-grow: 1;

  @media (max-width: 413px) {
    width: 43%;
  }

  @media #{$tablet-desktop} {
    min-height: 44px;
  }
}

.page-page .card [class^="card__label-"],
.page-page .card-collection [class^="card__label-"] {
  position: static;
}

.page-page .card .card__title a,
.page-page .card-collection .card-collection__title {
  font-family: $additional-font-family;
}
