.page-page .s-popular {
  @media #{$laptop-desktop} {
    margin-bottom: -165px;
  }

  @media #{$desktop} {
    margin-bottom: -235px;
  }
}

.page-page .s-popular .next {
  @media #{$laptop-desktop} {
    right: 0;
  }

  @media #{$desktop} {
    right: -30px;
  }
}

.page-page .s-popular .prev {
  @media #{$laptop-desktop} {
    left: 0;
  }

  @media #{$desktop} {
    left: -30px;
  }
}

.page-page .s-popular .more__title {
  text-align: left;
}


.page-page .product-img__carousel .item {
  height: 320px;

  @media #{$widemobile-desktop} {
    height: 375px;
  }

  @media #{$tablet-desktop} {
    height: 538px;
  }

  @media #{$laptop-desktop} {
    height: 730px;
  }

  @media #{$desktop} {
    height: 870px;
  }
}

.page-page .product-img__carousel .item img {
  object-position: center;
}

.page-page .swiper-button-prev,
.page-page .swiper-button-next {
  cursor: pointer;
}

.page-page .card__button {
  flex-grow: 1;
  align-self: stretch;
}

.page-page .card__btn {
  align-self: stretch;
  height: auto;
  min-height: 40px;
  border-radius: 3px;
  flex-grow: 1;

  @media #{$tablet-desktop} {
    min-height: 44px;
  }
}

.page-page .s-popular [class^="card__label-"] {
  position: static;
}
