.pagination--alter {
  background-color: transparent;
}

.pagination--alter ul {
  justify-content: start;
}

.pagination--alter ul li a:hover {
  color: $pagination-alter-color;
}

.pagination--alter ul li.current a {
  background-color: $pagination-alter-color;
  color: $text-color-secondary;
}
