.popup {
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding: 18px 10px 25px;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;

  &--open {
    display: grid;
    grid-template-columns: 100%;
  }
}

[id^="js-modal-"] {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

[id^="js-modal-"] .popup {
  display: grid;
  grid-template-columns: 100%;
}

.popup__inner {
  max-width: 400px;
  border-radius: 10px;
  background-color: $background-color;
  box-shadow: 0 6px 16px rgb(0 0 0 / 16%);

  @media #{$laptop-desktop} {
    width: 1000px;
    max-width: none;
    border-radius: 0;
  }
}

.popup .popup__inner {
  position: relative;
  margin: 0 auto;
}

.popup__close {
  position: absolute;
  top: 3px;
  right: 4px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/popup-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.popup--simple .popup__inner {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
}

.popup--simple-2 .popup__inner {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.06);
}

.popup--big {
  padding: 0;

  .popup__inner {
    max-width: none;
    width: 100%;
    max-width: 1920px;
    border-radius: 0;
  }

  .popup__close {
    @media #{$desktop} {
      top: 16px;
      right: 19px;
      background-size: 38px 38px;
    }
  }
}
