.preloader {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/icons/loader.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;

  &--active {
    display: block;
  }

  &--mobile-only {
    @media (min-width: 576px) {
      display: none;
    }
  }
}
