.product-item__link {
  color: $card-header-contact-color;
  text-decoration: none;
  background: $background-color;
  border-radius: 10px;
  border: 1px solid $product-border-color;
  transition: 0.3s linear;

  @media #{$narrow-mobile} {
    height: 100%
  }

  @media #{$mobile} {
    border-radius: 3px;
    border: 1px solid transparent;
  }

  &:hover {
    border: 1px solid $button-hover-color;
    border-radius: 10px;
  }

  &:active {
    opacity: 0.8;
  }
}

.product-item__sale {
  padding: 2px 6px;
  color: $text-color-secondary;
  background: $primary-button-color;
  border-radius: 3px;
}

.product-item__title {
  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-transform: none;
  margin: 0;

  @media #{$narrow-mobile} {
    text-align: center;
  }

  @media #{$mobile} {
    font-size: 14px;
    line-height: 19px;
  }
}

.product-item__image-wrapper {
  display: block;
  width: 100px;
  height: 80px;
  margin: 0 auto 13px;
  flex-shrink: 0;

  @media #{$tablet-desktop} {
    width: 147px;
    height: 100px;
    margin: auto 18px auto 0;
  }

  @media #{$laptop-desktop} {
    width: 110px;
    height: 100px;
    margin: 0 18px 0 0;
  }

  @media #{$laptop-desktop} {
    width: 160px;
    height: 100px;
  }
}

.product-item__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

