.products__wrapper {
  display: grid;
  grid-template-areas: 'title'
    'slider'
    'btn';

  @media #{$tablet-desktop} {
    grid-template-columns: 1fr auto;
    grid-template-areas: 'title btn'
      'slider slider';
  }
}

.products__title {
  grid-area: title;
  margin: 0 0 25px 0;
  letter-spacing: -0.03em;

  @media #{$laptop-desktop} {
    margin: 0 0 25px 0;
  }
}

.products__swiper {
  grid-area: slider;
  max-width: 100%;
  filter: drop-shadow(0px 18px 15px $good-range-shadow-color);

  @media #{$laptop-desktop} {
    min-width: 100%;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: calc(137px + 137px + 8px);

  @media #{$laptop} {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    height: 100%;
  }
}

.products__item {
  margin: 0;
  width: 342px;
  height: 137px;

  @media #{$narrow-mobile} {
    width: 300px;
  }

  @media #{$tablet-desktop} {
    width: 290px;
  }

  @media #{$laptop-desktop} {
    width: auto;
  }
}

.products__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  padding: 18px 14px;
  align-items: center;
  box-sizing: border-box;
}

.products__arrows {
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  @media #{$tablet-desktop} {
    margin-top: 0;
    align-self: flex-start;
  }

  @media #{$laptop-desktop} {
    display: none;
  }
}
