.radiobutton__label {
  display: block;
  width: 100%;
  padding: 0 11px;
  border: 1px solid $radiobutton-border-color;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.radiobutton__control:checked + .radiobutton__label {
  border-color: $radiobutton-active-color;
  color: $text-color-secondary;
  background-color: $radiobutton-active-color;
}

.radiobutton--small .radiobutton__label {
  @media #{$mobile-tablet} {
    padding: 0 6px;
    border: none;
    border-radius: 0;
  }
}

.radiobutton--small .radiobutton__label-extra {
  @media #{$mobile-tablet} {
    display: none;
  }
}
