.radiobutton__label {
  display: block;
  width: 100%;
  padding: 0 11px;
  border: 1px solid $radiobutton-border-color;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-text-color;
  cursor: pointer;
}

.radiobutton__control:checked + .radiobutton__label {
  border-color: $radiobutton-active-color;
  color: $text-color-secondary;
  background-color: $radiobutton-active-color;
}

.radiobutton--small {
  .radiobutton__label {
    padding: 0 6px;
    border: none;
    border-radius: 0;
  }

  .radiobutton__label-extra {
    display: none;
  }
}

.radiobutton--alter {
  .radiobutton__label {
    @media #{$mobile-tablet} {
      padding: 0 6px;
      border: none;
      border-radius: 0;
    }
  }

  .radiobutton__label-extra {
    @media #{$mobile-tablet} {
      display: none;
    }
  }
}

.radiobutton--alter-2 {
  .radiobutton__label {
    text-transform: lowercase;
  }

  .radiobutton__control + .radiobutton__label {
    padding: 2px 8px;
  }

  .radiobutton__control:checked + .radiobutton__label {
    border-color: $radiobutton-active-color;
    color: $basic-text-color;
    background-color: transparent;
  }

  @media #{$cart-tablet} {
    .radiobutton__control + .radiobutton__label {
      padding: 1px 11px 3px;
      font-size: 13px;
      line-height: 1;
    }
  }
}

.radiobutton--alter-3 {
  .radiobutton__label {
    text-transform: lowercase;
  }

  .radiobutton__control + .radiobutton__label {
    min-width: 42px;
    padding: 3px 7px 3px;
  }

  .radiobutton__control:checked + .radiobutton__label {
    border-color: $radiobutton-active-color;
    color: $basic-text-color;
    background-color: transparent;
  }
}
