.reference {
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 21px;
}

.reference__inner {
  padding: 0 14px;

  @media #{$tablet-desktop} {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
  }

  @media #{$laptop-desktop} {
    grid-template-columns: auto 1fr auto;
    justify-content: start;
  }

  @media #{$desktop} {
    width: 1480px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
  }
}

.reference__text {
  display: none;
  max-width: 730px;
  margin: 0;
  font: inherit;

  @media #{$tablet-desktop} {
    display: block;
  }
}

.reference__label {
  display: none;
  margin: 0 0 0 35px;
  text-align: center;
  font-family: $accent-font-family;
  font-size: 26px;
  line-height: 1;

  @media #{$tablet-desktop} {
    display: block;
  }
}

.reference__label-main {
  display: block;
  margin: 0 0 -6px;
  font-size: 35px;
  line-height: 1;
}

.reference__button {
  max-width: 345px;
  margin: 0 auto;

  @media #{$tablet-desktop} {
    grid-column: 1 / 3;
    min-width: 345px;
  }

  @media #{$laptop-desktop} {
    grid-column: 3 / 4;
    min-width: 278px;
  }
}
