.select-2 {
  position: relative;
  width: 158px;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 24px;
}

.select-2__button {
  display: grid;
  width: 100%;
  padding: 5px 11px 3px;
  border: 1px solid $select-2-button-border-color;
  border-radius: 3px;
  grid-template-columns: max-content 1fr auto;
  align-items: center;
  font: inherit;
  line-height: inherit;
  color: $select-2-button-text-color;
  background-color: $background-color;
  cursor: pointer;

  &::after {
    content: "";
    width: 10px;
    height: 6px;
    background-image: url("../img/icons/select-2-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.select-2__button-value {
  font-size: 16px;
  line-height: 24px;
  color: $basic-text-color;
}

.select-2__options {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: -7px;
  left: 0;
  visibility: hidden;
  max-height: 180px;
  padding: 15px 0 10px;
  border-radius: 3px;
  background-color: $background-color;
  overflow-y: scroll;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(100%);
  will-change: transform;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.select-2__radiobutton-label {
  padding: 5px 15px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.select-2__radiobutton-label {
  display: block;
}

.select-2__radiobutton-label:hover,
.select-2__radiobutton:checked + .select-2__radiobutton-label {
  color: $text-color-secondary;
  background-color: $select-2-radiobutton-checked-color;
}

.select-2--open {
  .select-2__button {
    border-color: $select-2-button-active-border-color;
  }

  .select-2__button::after {
    transform: rotate(180deg);
    will-change: transform;
  }

  .select-2__options {
    visibility: visible;
  }
}
