.socials {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.socials__item {
  margin: 3px;
}

.socials__link {
  display: grid;
  width: 50px;
  height: 50px;
  border: 1px solid $socials-link-border-color;
  border-radius: 50%;
  place-items: center;

  @media #{$tablet-desktop} {
    width: 75px;
    height: 75px;
  }
}

.socials__link * {
  max-width: 24px;
  max-height: 24px;

  @media #{$tablet-desktop} {
    max-width: 36px;
    max-height: 36px;
  }
}

.socials--simple {
  .socials__item {
    margin: 0 0 0 5px;
  }

  .socials__link {
    width: 21px;
    height: 21px;
    border: none;
  }

  .socials__link * {
    max-width: 21px;
    max-height: 21px;
  }

  @media #{$laptop-desktop} {
    .socials__item {
      margin-left: 8px;
    }

    .socials__link {
      width: 30px;
      height: 30px;
    }

    .socials__link * {
      max-width: 30px;
      max-height: 30px;
    }
  }
}
