.social-button {
  display: grid;
  padding: 0;
  place-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid $social-button-border-color;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
  }

  @media #{$tablet-desktop} {
    width: 48px;
    height: 48px;
  }
}

.social-button--like::before {
  width: 50%;
  height: 50%;
  margin: 2px 0 0;
  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-button--like:not(.social-button--like-active):hover {
  border-color: $social-button-hover-color;

  &::before {
    background-color: $social-button-hover-color;
    background-image: none;
    mask-image: url("../img/icons/heart.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}

.social-button--like-active {
  border-color: $social-button-active-background-color;

  &::before {
    background-color: $social-button-active-background-color;
    background-image: none;
    mask-image: url("../img/icons/heart.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}

.social-button--share::before {
  width: 55%;
  height: 55%;
  background-image: url("../img/icons/share-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-button--share:hover {
  border-color: $social-button-hover-color;

  &::before {
    background-color: $social-button-hover-color;
    background-image: none;
    mask-image: url("../img/icons/share-icon.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}
