.socials {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;

  @media #{$tablet-desktop} {
    justify-content: start;
  }

  @media #{$tablet} {
    justify-content: end;
  }
}

.socials__link {
  display: grid;
  width: 50px;
  height: 50px;
  border: 1px solid $socials-link-border-color;
  border-radius: 50%;
  margin: 2px;
  place-items: center;

  @media #{$tablet-desktop} {
    width: 75px;
    height: 75px;
  }
}

.socials__link * {
  max-width: 24px;
  max-height: 24px;

  @media #{$tablet-desktop} {
    max-width: 36px;
    max-height: 36px;
  }
}
