.star-rating {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;

  &::after {
    --star-size: 15px;
    content: "";
    width: var(--star-size);
    height: var(--star-size);
    background-image: url("../img/icons/star.svg");
    background-repeat: repeat-x;
    background-position: left center;
    background-size: contain;

    @media #{$tablet-desktop} {
      --star-size: 20px;
      transform: translateY(-1px);
    }

    @media #{$laptop-desktop} {
      --star-size: 24px;
    }
  }

  &--2::after {
    width: calc(var(--star-size) * 2);
  }

  &--3::after {
    width: calc(var(--star-size) * 3);
  }

  &--4::after {
    width: calc(var(--star-size) * 4);
  }

  &--5::after {
    width: calc(var(--star-size) * 5);
  }

  @media #{$tablet-desktop} {
    column-gap: 12px;
  }

  @media #{$laptop-desktop} {
    column-gap: 14px;
  }
}

.star-rating--small {

  &::after {
    --star-size: 17px;
    margin-bottom: 2px;

    @media #{$tablet-desktop} {
      --star-size: 23px;
    }
  }
}

.star-rating--big {
  column-gap: 18px;

  &::after {
    --star-size: 21px;
    margin-bottom: 2px;

    @media #{$desktop} {
      --star-size: 28px;
    }
  }
}

.star-rating--alter {
  @media #{$desktop} {
    grid-auto-flow: row;
    row-gap: 20px;
    justify-items: center;
  }
}

.star-rating--theme--1 {
  &::after {
    filter: brightness(0);
  }
}

.star-rating--theme--2 {
  &::after {
    filter: brightness(0) invert(100%);
  }
}
