.tabs {
  border: 1px solid $tabs-slider-border-color;
  border-radius: 18px;
  background-color: $background-color;
  overflow: hidden;
  filter: drop-shadow(0px 290px 116px rgba(0, 0, 0, 0.01)) drop-shadow(0px 163px 98px rgba(0, 0, 0, 0.04)) drop-shadow(0px 72px 72px rgba(0, 0, 0, 0.06)) drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.07)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.07));

  @media #{$tablet-desktop} {
    border-radius: 10px;
    filter: drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.07)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.07));
  }
}

.tabs__slider {
  position: relative;

  &::after {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    background-color: $background-color;
  }
}

.tabs__list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  transition-timing-function: linear;

  @media #{$tablet-desktop} {
    min-height: 64px;
  }
}

.tabs__item {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  padding: 10px 62px 4px;
  border-bottom: 3px solid transparent;
  margin: 0;
  justify-content: center;
  background-color: $background-color;
  cursor: pointer;

  @media #{$tablet-desktop} {
    padding: 12px 28px 6px;
    justify-content: start;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: calc(50% - 20px);
    right: 0;
    width: 1px;
    height: 40px;
    background-color: $tabs-slider-border-color;
  }
}

.tabs__item:hover,
.tabs__item--current {
  border-bottom-color: $special-color;

  &::after {
    display: none;
  }

  @media #{$tablet-desktop} {
    background-color: $tabs-active-background-color;
  }
}

.tabs__heading {
  margin: 0 0 2px 0;
  text-align: center;
  font-family: $additional-font-family;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  color: $accent-text-color;

  @media #{$tablet-desktop} {
    font-size: 14px;
  }

  @media #{$desktop} {
    font-size: 16px;
    font-weight: 500;
  }
}

.tabs__text {
  margin: 0;
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: $tabs-text-color;

  @media #{$tablet-desktop} {
    margin-top: auto;
  }

  @media #{$laptop-desktop} {
    font-size: 12px;
  }

  @media #{$desktop} {
    font-size: 12px;
    line-height: 1.2;
  }
}
