.thumbnail-slider {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 5px;

  @media #{$laptop-desktop} {
    column-gap: 10px;
  }
}

.thumbnail-slider__full {
  width: 225px;
  height: 225px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: hidden;

  @media #{$widemobile-desktop} {
    width: 265px;
    height: 265px;
  }

  @media #{$laptop-desktop} {
    width: 650px;
    height: 650px;
  }
}

.thumbnail-slider__thumbs {
  width: 90px;
  height: 225px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  overflow: hidden;

  @media #{$widemobile-desktop} {
    width: 105px;
    height: 265px;
  }

  @media #{$laptop-desktop} {
    width: 260px;
    height: 650px;
  }
}

.thumbnail-slider__img-wrapper {
  display: block;
  width: 225px;
  height: 225px;

  @media #{$widemobile-desktop} {
    width: 265px;
    height: 265px;
  }

  @media #{$laptop-desktop} {
    width: 650px;
    height: 650px;
  }
}

.thumbnail-slider__img-wrapper--small {
  display: block;
  width: 90px;
  height: 90px;

  @media #{$widemobile-desktop} {
    width: 105px;
    height: 105px;
  }

  @media #{$laptop-desktop} {
    width: 260px;
    height: 260px;
  }
}

.thumbnail-slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}
