.tile-range__title {
  margin: 0 0 25px 0;
}

.tile-range__button-prev,
.tile-range__button-next {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 38px;
  height: 38px;
  margin: 0;

  @media #{$tablet-desktop} {
    bottom: auto;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
  }
}

.tile-range__button-prev {
  left: calc(50% - 38px - 4px);
  transform: scale(-1, 1);
  will-change: transform;

  @media #{$tablet-desktop} {
    left: 0;
  }
}

.tile-range__button-next {
  right: calc(50% - 38px - 4px);

  @media #{$tablet-desktop} {
    right: 0;
  }
}

.tile-range__slider-wrapper {
  position: relative;
  padding-bottom: 56px;

  @media #{$tablet-desktop} {
    padding-bottom: 0;
  }
}

.tile-range__swiper {
  max-width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.01));
  box-shadow: 0 14px 25px 4px rgba(0, 0, 0, 0.07);
}

.tile-range__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tile-range__item {
  display: grid;
  width: 342px;
  margin: 0;
  row-gap: 8px;

  @media #{$tablet-desktop} {
    width: 289px;
  }

  @media #{$laptop-desktop} {
    min-width: 289px;
  }

  @media #{$desktop} {
    width: 342px;
    row-gap: 10px;
  }
}

.tile-range__link {
  display: grid;
  height: 200px;
  border-radius: 10px;
  background-color: $accent-text-color;
  overflow: hidden;
}

.tile-range__image {
  grid-area: 1/1/2/2;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.tile-range__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tile-range__category {
  grid-area: 1/1/2/2;
  align-self: flex-end;
  display: grid;
  height: 60px;
  background: $category-text-bg-40;
  z-index: 5;
  padding: 18px 7px 19px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.tile-range__category-text {
  margin: 0;
  font-family: $additional-font-family;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0;
  color: $text-color-secondary;
  text-transform: none;
}

.tile-range__link:hover .tile-range__category {
  background-color: $special-color;
}
