.works-gallery {
  padding: 26px 0 40px;
  font-family: $basic-font-family;
  background-color: $works-gallery-background-color;

  @media #{$tablet-desktop} {
    background-color: transparent;
  }
}

.works-gallery__header {
  padding: 0 10px;
  margin: 0 0 21px;
  text-align: center;

  @media #{$tablet-desktop} {
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr auto;
    column-gap: 40px;
    align-items: center;
    text-align: left;
    margin-bottom: 24px;
  }

  @media #{$desktop} {
    width: 1480px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto 10px;
  }
}

.works-gallery__heading {
  margin: 0 0 20px;

  @media #{$tablet-desktop} {
    margin-bottom: 0;
  }
}

.works-gallery__link {
  @media #{$laptop-desktop} {
    margin: 0 0 0 auto;
  }
}

.works-gallery__slider {
  margin-left: 21px;
  overflow-x: hidden;

  @media #{$tablet-desktop} {
    margin: 0 0 0 15px;
  }
}

.works-gallery__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.works-gallery__item {
  width: 280px;
  height: 490px;

  @media #{$tablet-desktop} {
    width: 627px;
    height: 439px
  }

  @media #{$desktop} {
    width: 550px;
    height: 500px
  }
}

.works-gallery__item-link {
  display: grid;
  align-items: end;
  color: $text-color-secondary;

  &:hover {
    color: $text-color-secondary;
  }
}

.works-gallery__overlay {
  z-index: 2;
  grid-area: 1 / 1 / 2 / 2;
  padding: 11px 10px 10px;;
  background-color: rgba(14, 14, 14, 0.37);

  @media #{$tablet-desktop} {
    display: flex;
    padding: 26px 33px 24px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.works-gallery__item-heading {
  width: 80%;
  margin: 0 0 11px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

  @media #{$tablet-desktop} {
    margin-bottom: 0;
  }
}

.works-gallery__mark {
  display: inline-block;
  padding: 5px 8px;
  margin: 0;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  background-color: $works-gallery-mark-color;
}

.works-gallery__img-wrapper {
  grid-area: 1 / 1 / 2 / 2;
  display: block;
}

.works-gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

.works-gallery__slider-button {
  display: grid;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  place-items: center;
  background: $works-gallery-slider-button-color;
  transform: translate(-8px, 5px);

  &::before {
    content: "";
    width: 7px;
    height: 13px;
    background-image: url("../img/icons/slider-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &::after {
    display: none;
  }

  &.swiper-button-disabled {
    display: none;
  }
}

.works-gallery__slider-button--prev {
  transform: translate(8px, 5px);
}

.works-gallery__slider-button--prev::before {
  transform: rotate(180deg);
}
