// Viewports

$mobile: "(max-width: 767px)";
$mobile-tablet: "(max-width: 1279px)";
$narrow-mobile: "(max-width: 374px)";
$wide-mobile: "(min-width: 375px) and (max-width: 767px)";
$widemobile-desktop: "(min-width: 375px)";
$tablet: "(min-width: 768px) and (max-width: 1279px)";
$tablet-desktop: "(min-width: 768px)";
$narrowlaptop-desktop: "(min-width: 1024px)";
$laptop: "(min-width: 1280px) and (max-width: 1509px)";
$laptop-desktop: "(min-width: 1280px)";
$desktop: "(min-width: 1510px)";
$narrowlaptop-desktop: "(min-width: 1024px)";

$cart-tablet: "(min-width: 900px)";
$cart-desktop: "(min-width: 1440px)";
$cart-only-tablet: "(max-width: 1439px)";

// Fonts

$basic-font-family: "Roboto", "Arial", sans-serif;
$additional-font-family: "Roboto Condensed", "Arial", sans-serif;
$accent-font-family: "Playfair Display", "Georgia", "Times New Roman", sans-serif;

// Colors

$border-color: #c8c8c8;
$basic-text-color: #333333;
$additional-text-color: #c5072b;
$text-color-secondary: #ffffff;
$background-color: #ffffff;
$background-secondary-color: #fafafa;
$popup-overlay-color: #5b5555;
$mini-card-breadcrumbs-color: #c5072b;
$note-border-color: #e0e0e0;
$radiobutton-border-color: #c8c8c8;
$radiobutton-active-color: #42bd98;
$mini-card-total-price-border-color: #c8c8c8;
$button-border-color: #c8c8c8;
$primary-button-color: #d92547;
$secondary-button-color: #42bd98;
$tertiary-button-color: #808080;
$share-button-icon-color: #333333;
$share-button-border-color: #c8c8c8;
$share-button-hover-color: #42bd98;
$like-button-icon-color: #333333;
$like-button-border-color: #c8c8c8;
$like-button-active-color: #d92547;
$like-button-hover-color: #42bd98;
$weak-text-color: #808080;
$button-accent-color: #c5072b;
$works-gallery-background-color: #fafafa;
$works-gallery-mark-color: #d92547;
$works-gallery-slider-button-color: #ffffff;
$advantages-item-background-color: #f9f9f9;
$advantages-link-color: #42bd98;
$good-info-border-color: #d3d3d3;
$clipbox-toggler-alter-color: #c5072b;
$contacts-comment-color: #808080;
$contacts-link-color: #d92547;
$socials-link-border-color: #ececec;
$select-2-button-text-color: #808080;
$select-2-button-border-color: #c8c8c8;
$select-2-button-active-border-color: #42bd98;
$select-2-radiobutton-checked-color: #42bd98;
$good-card-price-link-color: #38a685;
$good-card-discount-value-color: #d92547;
$good-card-old-price-line-color: #c5072b;
$good-card-features-accent-color: #42bd98;
$button-2-alter-hover-border-color: #42bd98;
$good-card-label-background-color: #d92547;
$custom-form-textfield-border-color: #808080;
$custom-form-footer-background-color: rgba(242, 242, 242, 0.2);
$custom-form-footer-border-color: rgba(0, 0, 0, 0.1);
$custom-form-weak-text-color: #808080;
$custom-form-button-background-color: #ffffff;
$custom-form-button-border-color: #c8c8c8;
$custom-form-file-selector-button-border-color: #c8c8c8;
$custom-form-link-text-color: #808080;
$consent-checked-color: #c5072b;
$consent-link-text-color: #808080;
$primary-button-3-color: #c5072b;
$custom-table-decorated-row-background-color: #f8f8f8;
$custom-table-decorated-row-border-color: #808080;
$custom-table-header-border-color: #000000;
$reviews-list-border-color: rgba(51, 51, 51, 0.2);
$special-color: #42bd98;
$accent-color: #d92547;
$accent-color-2: #c5072b;
$button-chamelion-color: #66c299;
$good-review-avatar-background-color: #66c299;
$pagination-alter-color: #66c299;
$custom-form-2-textfield-border-color: #c8c8c8;
$custom-form-2-textfield-border-light-color: #ebebeb;
$custom-form-2-textfield-border-error-color: #c5072b;
$custom-form-2-heading-background-color: #fafafa;
$custom-form-2-textfield-background-secondary-color: #fafafa;
$custom-form-2-file-field-background-color: #f2f2f2;
$custom-form-2-notice-error-color: #fff2f2;
$sample-accent-text-border-color: #ebebeb;
$n-cart-form-wrapper-background-color: #f4f4f4;
$custom-form-2-radiobutton-color: #c8c8c8;
$order-card-new-price-color: #c5072b;
$number-field-button-alter-background-color: #f3f3f3;
$goods-quantity-alter-3-border-color: #c8c8c8;
$order-good-list-item-border-color: #c8c8c8;
$like-button-alter-color: #c8c8c8;
$form-order-footer-total-border-color: #e4e4e4;
$card-header-contact-color: #222121;
$cart-header-border-color: #c8c8c8;
$notification-error-color: #eb9393;
$check-good-border-color: #c8c8c8;
$good-main-border-color: #ebebeb;
$advantage-item-bg1: #FFF1E7;
$advantage-item-bg2: #F7FFE7;
$advantage-item-bg3: #ECF8EE;
$advantage-item-bg4: #E8E7FF;
$advantage-item-bg5: #FAECFC;
$product-border-color: #D9D9D9;
$good-range-shadow-color: rgba(0, 0, 0, 0.07);
$artgallery-accent-bg-color: #222E30;
$category-text-bg: #000000;
$category-text-bg-40: rgba(0, 0, 0, 0.4);
$button-hover-color: #222121;
$subscribe-background-color: #f9f9f9;
$subscribe-form-focus-color: #42bd98;
$brands-background-color: #F6F4F2;
$links-list-border-color: #e1e1e1;
$product-type-text-content-border-color: #c8c8c8;
$calculation-background-color: #f5f5f5;
$n-products-item-border-color: rgba(51, 51, 51, 0.2);
$n-products-item-backgroung-color: #fbfbfb;
$n-advantages-item-background-color: #f9f9f9;
$n-slider-pagination-bullet-background-color: #c4c4c4;
$n-slider-pagination-active-bullet-background-color: #5b5b5b;
$work-option-variant-border-color: #dfdfdf;
$work-option-key-color: #f0f0f0;
$work-option-variant-number-background-color: #f3f3f3;


$share-transition-duration: 200ms;
$like-transition-duration: 200ms;
$custom-form-2-transition-duration: 150ms;
