// Viewports

$mobile: "(max-width: 767px)";
$mobile-tablet: "(max-width: 1279px)";
$narrow-mobile: "(max-width: 374px)";
$wide-mobile: "(min-width: 375px) and (max-width: 767px)";
$widemobile-desktop: "(min-width: 375px)";
$tablet: "(min-width: 768px) and (max-width: 1279px)";
$tablet-desktop: "(min-width: 768px)";
$laptop: "(min-width: 1280px) and (max-width: 1509px)";
$laptop-desktop: "(min-width: 1280px)";
$desktop: "(min-width: 1510px)";

// Fonts

$basic-font-family: "Roboto", "Arial", sans-serif;
$additional-font-family: "Roboto Condensed", "Arial", sans-serif;
$accent-font-family: "Playfair Display", "Georgia", "Times New Roman", sans-serif;

// Colors

$basic-text-color: #333333;
$additional-text-color: #c5072b;
$text-color-secondary: #ffffff;
$background-color: #ffffff;
$popup-overlay-color: #5b5555;
$mini-card-breadcrumbs-color: #c5072b;
$note-border-color: #e0e0e0;
$radiobutton-border-color: #c8c8c8;
$radiobutton-active-color: #42bd98;
$mini-card-total-price-border-color: #c8c8c8;
$button-border-color: #c8c8c8;
$primary-button-color: #d92547;
$secondary-button-color: #42bd98;
$share-button-icon-color: #333333;
$share-button-border-color: #c8c8c8;
$share-button-hover-color: #42bd98;
$like-button-icon-color: #333333;
$like-button-border-color: #c8c8c8;
$like-button-active-color: #d92547;
$like-button-hover-color: #42bd98;
$weak-text-color: #808080;
$button-accent-color: #c5072b;
$works-gallery-background-color: #fafafa;
$works-gallery-mark-color: #d92547;
$works-gallery-slider-button-color: #ffffff;
$advantages-item-background-color: #f9f9f9;
$advantages-link-color: #42bd98;
$good-info-border-color: #d3d3d3;
$clipbox-toggler-alter-color: #c5072b;
$contacts-comment-color: #808080;
$contacts-link-color: #d92547;
$socials-link-border-color: #ececec;
$select-2-button-text-color: #808080;
$select-2-button-border-color: #c8c8c8;
$select-2-button-active-border-color: #42bd98;
$select-2-radiobutton-checked-color: #42bd98;
$good-card-price-link-color: #38a685;
$good-card-discount-value-color: #d92547;
$good-card-old-price-line-color: #c5072b;
$good-card-features-accent-color: #42bd98;
$button-2-alter-hover-border-color: #42bd98;
$good-card-label-background-color: #d92547;
$custom-form-textfield-border-color: #808080;
$custom-form-footer-background-color: rgba(242, 242, 242, 0.2);
$custom-form-footer-border-color: rgba(0, 0, 0, 0.1);
$custom-form-weak-text-color: #808080;
$custom-form-button-background-color: #ffffff;
$custom-form-button-border-color: #c8c8c8;
$custom-form-file-selector-button-border-color: #c8c8c8;
$custom-form-link-text-color: #808080;
$consent-checked-color: #c5072b;
$consent-link-text-color: #808080;
$primary-button-3-color: #c5072b;
$custom-table-decorated-row-background-color: #f8f8f8;
$custom-table-decorated-row-border-color: #808080;
$custom-table-header-border-color: #000000;
$reviews-list-border-color: rgba(51, 51, 51, 0.2);
$special-color: #42bd98;
$accent-color: #d92547;
$button-chamelion-color: #66c299;
$good-review-avatar-background-color: #66c299;
$pagination-alter-color: #66c299;

// Times

$share-transition-duration: 200ms;
$like-transition-duration: 200ms;
