.main-page__body .header {
  margin-bottom: 0;
}

@media screen and (max-width:991px) {
  .main-page__body main {
    margin-top: 50px;
  }
}

.main-page__body {
  .center {
    @media #{$tablet-desktop} {
      padding: 0 30px;
    }

    @media #{$laptop-desktop} {
      padding: 0 50px;
    }

    @media #{$desktop} {
      width: 1480px;
      padding: 0 40px;
      margin: 0 auto;
    }
  }
}

.main-page__main {
  margin-top: 0;
}

.main-page__offers {
  margin-bottom: 16px;

  @media #{$laptop-desktop} {
    margin-bottom: 40px;
  }
}

.main-page__good-range {
  margin-bottom: 40px;
}

.main-page__tile-range {
  margin-bottom: 40px;

  @media #{$tablet-desktop} {
    margin-bottom: 77px;
  }
}

.main-page__n-advantages {
  margin-bottom: 40px;

  @media #{$desktop} {
    margin-bottom: 60px;
  }
}

.main-page__products {
  margin-bottom: 40px;

  @media #{$laptop-desktop} {
    margin-bottom: 56px;
  }

  @media #{$desktop} {
    margin-bottom: 84px;
  }
}

.main-page__inspo {
  margin-bottom: 60px;
}

.main-page__projects {
  margin-bottom: 40px;

  @media #{$tablet-desktop} {
    margin-bottom: 60px;
  }

  @media #{$desktop} {
    margin-bottom: 80px;
  }
}

.main-page__n-service {
  margin-bottom: 40px;

  @media #{$laptop-desktop} {
    margin-bottom: 60px;
  }

  @media #{$desktop} {
    margin-bottom: 86px;
  }
}

.main-page__goods.goods--popular {
  margin-bottom: 40px;

  @media #{$tablet-desktop} {
    margin-bottom: 60px;
  }

  @media #{$desktop} {
    margin-bottom: 90px;
  }
}

.main-page__n-subscribe {
  margin-bottom: 40px;

  @media #{$laptop-desktop} {
    margin-bottom: 52px;
  }

  @media #{$desktop} {
    margin-bottom: 34px;
  }
}

.main-page__n-brands {
  padding: 30px 0 38px 0;
  margin: 0 0 40px 0;

  @media #{$tablet-desktop} {
    padding: 40px 0 60px 0;
  }

  @media #{$desktop} {
    padding: 56px 0 100px 0;
    margin-bottom: 60px;
  }
}

.main-page__n-news {
  margin-bottom: 40px;

  @media #{$tablet-desktop} {
    margin-bottom: 60px;
  }

  @media #{$laptop-desktop} {
    margin-bottom: 80px;
  }
}

.main-page__body .goods--swiper .goods__inner {
  @media #{$tablet-desktop} {
    padding: 0 20px;
  }
}

.main-page__body .goods__inner {
  @media #{$laptop-desktop} {
    padding: 0 50px;
  }

  @media #{$desktop} {
    padding: 0 40px;
  }
}

.main-page__company-info {
  margin-bottom: 80px;
}

.main-page__body {
  .n-banner {
    font-family: $additional-font-family;
  }

  .button {
    font-family: $additional-font-family;
  }
}
