// Global

@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/filter-fix.scss";

// Blocks

@import "blocks/page-page.scss";
@import "blocks/page-body.scss";
@import "blocks/popup.scss";
@import "blocks/good-mini-card.scss";
@import "blocks/note.scss";
@import "blocks/heading.scss";
@import "blocks/note.scss";
@import "blocks/number-field.scss";
@import "blocks/goods-quantity.scss";
@import "blocks/radiobutton.scss";
@import "blocks/button.scss";
@import "blocks/button-2.scss";
@import "blocks/collection-card.scss";
@import "blocks/collection-examples.scss";
@import "blocks/collection-list.scss";
@import "blocks/share.scss";
@import "blocks/like.scss";
@import "blocks/characteristics.scss";
@import "blocks/clipbox.scss";
@import "blocks/works-gallery.scss";
@import "blocks/advantages.scss";
@import "blocks/star-rating.scss";
@import "blocks/good-info.scss";
@import "blocks/contacts-info.scss";
@import "blocks/socials.scss";
@import "blocks/good-card.scss";
@import "blocks/select-2.scss";
@import "blocks/loader.scss";
@import "blocks/section-header.scss";
@import "blocks/custom-form.scss";
@import "blocks/custom-form-2.scss";
@import "blocks/quick-order.scss";
@import "blocks/consent.scss";
@import "blocks/button-3.scss";
@import "blocks/custom-table.scss";
@import "blocks/transportation.scss";
@import "blocks/logos.scss";
@import "blocks/good-reviews.scss";
@import "blocks/good-review.scss";
@import "blocks/evaluation.scss";
@import "blocks/evaluation-buttons.scss";
@import "blocks/pagination.scss";
@import "blocks/basket.scss";
@import "blocks/preloader.scss";
@import "blocks/sample.scss";
@import "blocks/copy-button.scss";
@import "blocks/modal-btns.scss";
@import "helpers/center.scss";
