.sort__left a {
  /* padding-top: 4px; */
  /* padding-bottom: 4px; */
  font-size: 14px;
  line-height: 14px;
  /* font-weight: 700; */
  background-color: #f8f8f8;
  color: #333333;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  border-radius: 3px;
  padding-left: 19px;
  margin: 0 2px;
}
.sort__left a:before{
  left: 6px;
}
.sort__left a:hover{
  color: #333333;
  border: 1px solid #c8c8c8;
}
.sort__left a.active:hover{
  color: #ffffff;
}
.sort__left a.active:before{
  display:none;
}
.sort__left a.sort__new.active{
  background-color: rgba(39, 114, 225, 1);
}
.sort__left a.sort__sklad.active {
  background-color: rgba(223, 174, 56, 1);
}
.sort__left a.sort__hit.active {
  background-color: rgba(41, 172, 38, 1);
}
.sort__left a.active{
  padding-right: 20px;
  font-weight: normal;
  padding-left: 10px;
}
.sort__left a.active:after{
  position: absolute;
  right: 6px;
}
